.input {
  display: flex;
  flex-direction: column;
  gap: var(--size-100);
  font-size: var(--type-200);

  &.horizontal {
    flex-direction: row;
    gap: var(--space-400);

    label {
      min-width: 200px;
    }
  }

  .label {
    color: var(--color-component-input-label);
  }

  .description {
    color: var(--color-component-input-description);
    font-style: italic;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--size-100);
  }

  .field {
    display: flex;
    height: var(--height-medium);
    color: var(--color-component-input-value);
    background-color: var(--color-component-input-background);
    border: 1px solid var(--color-component-input-border);
    border-radius: var(--radius-input);
    font-size: var(--type-300);

    input {
      background-color: transparent;
      color: var(--color-component-input-value);
      width: 100%;
      border: none;
      padding-inline: 0.5em;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    &:hover {
      border-color: var(--color-component-input-border-hover);
    }

    &:focus-within {
      outline: 2px solid var(--color-focus-ring);
      outline-offset: 0px;
      box-shadow: 0 0 0 4px var(--color-background-canvas);
      border-color: var(--color-component-input-border-hover);
    }

    &:has(input:active) {
      border-color: var(--color-component-input-border-active);
    }
  }
}

/* -----  Read-only styling  ------------------- */

.field:has(input:read-only) {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--color-component-input-border);

  &:focus-within {
    outline: none;
    box-shadow: none;
  }

  svg {
    width: 1.33em;
  }

  input {
    padding-inline: 0.25em;
  }
  .unit {
    border: none;
  }
}

/* -----  Unit styling  ------------------- */

.unit {
  display: flex;
  padding-inline: 1em;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  color: var(--color-component-input-unit);
  border-radius: 0 4px 4px 0;
  border-left: 1px solid var(--color-component-input-border);
}

/* -----  Disabled styling  ------------------- */

.input:has(input:disabled) {
  .field {
    color: var(--color-component-input-value-disabled);
    background-color: transparent;
    border: 1px solid var(--color-component-input-border-disabled);
  }

  .unit {
    color: var(--color-component-input-unit-disabled);
    background-color: transparent;
    border-color: var(--color-component-input-border-disabled);
  }

  .description {
    color: var(--color-component-input-description-disabled);
  }
}

/* -----  Error styling  ------------------- */

.error {
  .field {
    border-color: var(--color-component-input-border-error);
    background-color: var(--color-component-input-background-error);

    input {
      color: var(--color-component-input-value-error);
    }

    .unit {
      border-radius: 0 var(--color-component-input-radius) var(--color-component-input-radius) 0;
      border-color: var(--color-component-input-border-error);
    }
  }
  .errormessage {
    color: var(--color-component-input-description-error);
  }

  svg {
    color: var(--color-component-input-description-error);
    width: var(--size-300);
    height: auto;
    margin-right: var(--size-100);
  }
}

/* -----  Sizing styling  ------------------- */

.input {
  &.small {
    font-size: var(--type-200);

    .wrapper .field {
      height: var(--height-small);
      font-size: var(--type-200);
    }
  }

  &.large {
    font-size: var(--type-300);

    .field {
      height: var(--height-large);
      font-size: var(--type-400);
    }
  }

  &.x-large {
    font-size: var(--type-400);

    .field {
      height: var(--height-x-large);
      font-size: var(--type-500);
    }
  }
}

/* File upload ----------- */

input::file-selector-button {
  background-color: var(--color-component-button-secondary-background);
  color: var(--color-component-button-secondary-foreground);
  border: none;
  border-radius: 4px;
  padding: var(--size-100) var(--size-150);
  border: 1px solid var(--color-component-button-secondary-border);
  width: 5rem;
  font-size: var(--type-300);
  line-height: 1;
  letter-spacing: 0.2px;
  height: var(--height-medium);
  text-box: trim-both cap alphabetic;

  &:hover {
    background-color: green;
  }
}

.input:read-only {
  padding-inline: 0;
}
.input .wrapper .field input[type="file"] {
  color: var(--color-foreground-primary);
}

.input:has(input[type="file"]) {
  padding: 0;
}
.field:has(input[type="file"]) {
  padding-inline: 0 !important;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.input:hover input[type="file"]::file-selector-button {
  background-color: var(--color-component-button-secondary-background-hover);
  cursor: pointer;
}
