.badge {
  display: inline-flex;
  padding: 5px var(--size-150);
  align-items: center;
  justify-content: center;
  gap: var(--size-050);
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: var(--type-300);

  &.primary {
    background-color: var(--color-interactive);
    color: var(--color-on-interactive);

    &:hover {
      background-color: var(--color-interactive-hover);
    }
  }

  &.secondary {
    background-color: var(--color-interactive-secondary);
    color: var(--color-on-interactive-secondary);

    &:hover {
      background-color: var(--color-interactive-secondary-hover);
    }
  }

  &.critical {
    background-color: var(--color-system-critical);
    color: var(--color-system-on-critical);

    &:hover {
      background-color: var(--color-system-critical-hover);
    }
  }

  &.outline {
    background-color: transparent;
    border: 1px solid var(--color-border-neutral);
    color: var(--color-primary);
  }

  &.large {
    padding: var(--Size-100, 8px) var(--Size-150, 12px);
    font-size: var(--type-400);
  }

  &.small {
    padding: var(--Size-050, 4px) var(--Size-150, 12px);
    font-size: var(--type-200);
  }

  &.rounded {
    border-radius: var(--radius-full);
    padding: var(--size-100);

    &.large {
      padding: var(--size-200);
    }

    &.small {
      padding: var(--size-050);
    }
  }

  &:hover {
    /* Avoid cursor swapping to text selection when hovering */
    cursor: default;
  }
}
