.sidepanel {
  position: fixed;
  top: 0;
  bottom: 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  width: 400px;
  max-width: 100vw;
  box-shadow: var(--color-component-sidepanel-shadow);
  z-index: 1000;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  background-color: var(--color-component-sidepanel-background);
  padding: var(--size-300);

  &.right {
    right: 0;
    transform: translateX(100%);
  }

  &.left {
    left: 0;
    transform: translateX(-100%);
  }

  &.open.right {
    transform: translateX(0);
    border-left: 1px solid var(--color-component-sidepanel-border);
  }

  &.open.left {
    transform: translateX(0);
    border-right: 1px solid var(--color-component-sidepanel-border);
  }

  &.small {
    width: 280px;
  }

  &.medium {
    width: 400px;
  }

  &.large {
    width: 640px;
  }

  &.x-large {
    width: 768px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    font-size: var(--type-600);
  }

  .footer {
    display: flex;
    gap: var(--size-200);
  }
}
