.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding-inline: 0.75em;
  border-radius: var(--radius-default);
  text-transform: uppercase;
  font-size: var(--type-300);
  height: var(--height-medium);
  color: var(--component-button-primary-foreground);
  background-color: var(--component-button-primary-background);
  border: 1px solid var(--component-button-primary-border);

  &:hover {
    background-color: var(--component-button-primary-background-hover);
    border-color: var(--component-button-primary-background-hover);
    cursor: pointer;
  }

  &:active {
    background-color: var(--component-button-primary-background-active);
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--component-button-primary-background-disabled);
    cursor: not-allowed;
  }

  svg {
    color: inherit;
    width: 1.125em;
    height: auto;
  }

  &.small {
    font-size: var(--type-200);
    height: var(--height-small);
  }

  &.large {
    font-size: var(--type-400);
    height: var(--height-large);
  }

  &.x-large {
    height: var(--height-x-large);
  }

  &.trailing {
    flex-direction: row-reverse;
  }

  &.secondary {
    color: var(--component-button-secondary-foreground);
    border-color: var(--component-button-secondary-border);
    background-color: var(--component-button-secondary-background);

    &:hover {
      background-color: var(--component-button-secondary-background-hover);
      border-color: var(--component-button-secondary-background-hover);
      cursor: pointer;
    }

    &:active {
      background-color: var(--component-button-secondary-background-active);
      cursor: pointer;
    }

    &:disabled {
      color: var(--color-disabled);
      background-color: var(--component-button-secondary-background-disabled);
      cursor: not-allowed;
    }
  }

  &.tertiary {
    padding-inline: 0.125em;
    color: var(--component-button-tertiary-foreground);
    border-color: var(--component-button-tertiary-border);
    background-color: var(--component-button-tertiary-background);
    background-color: transparent;
    border-bottom: 1px solid currentColor;
    border-radius: var(--radius-none);

    &:hover {
      color: var(--component-button-tertiary-foreground-hover);
      background-color: var(--component-button-tertiary-background-hover);
    }

    &:active {
      background-color: var(--component-button-tertiary-background-active);
    }

    &:disabled {
      color: var(--component-button-tertiary-foreground-disabled);
      background-color: var(--component-button-tertiary-background-disabled);
      cursor: not-allowed;
    }
  }
  &.destructive {
    color: var(--color-system-critical-on);
    border-color: var(--color-system-critical-default);
    background-color: var(--color-system-critical-default);

    &:hover {
      border-color: var(--color-system-critical-hover);
      background-color: var(--color-system-critical-hover);
    }

    &:active {
      border-color: var(--color-system-critical-active);
      background-color: var(--color-system-critical-active);
    }

    &:disabled {
      color: black;
      border-color: var(--color-system-critical-disabled);
      background-color: var(--color-system-critical-disabled);
    }
  }
}
