.button {
  --c-button-background: var(--p-blue-ocean-900);
  --c-button-background-hover: var(--p-blue-ocean-1000);
  --c-button-secondary-background: var(--p-blue-ocean-1100);
  --c-button-secondary-background-hover: var(--p-blue-ocean-1200);
  --c-button-tertiary-background-hover: var(--p-blue-ocean-900);
  --c-button-corner: var(--space-025);
  --c-button-color: var(--color-text-on-accent);
}

.button {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-inline: 0.75em;
  border-radius: var(--c-button-corner);
  text-transform: uppercase;
  font-size: var(--type-400);
  height: var(--space-450);

  border: 1px solid transparent;
  color: var(--c-button-color);
  background-color: var(--c-button-background);

  &:hover {
    background-color: var(--c-button-background-hover);
    cursor: pointer;
  }
}



.large {
  font-size: var(--type-500);
  height: var(--space-600);
}

.small {
  font-size: var(--type-300);

  height: var(--space-300);
}



.secondary {
  background-color: var(--c-button-secondary-background);

  &:hover {
    background-color: var(--c-button-secondary-background-hover);
  }
}

.tertiary {
  background-color: transparent;
  border-color: inherit;

  &:hover {
    background-color: transparent;
    color: var(--c-button-tertiary-background-hover);
  }

}
