.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding-inline: 0.75em;
  border-radius: var(--radius-default);
  text-transform: uppercase;
  font-size: var(--type-button-label);
  height: var(--height-medium);
  border: 1px solid transparent;
  color: var(--color-foreground-interactive-on);
  background-color: var(--color-background-interactive-default);

  &:hover {
    background-color: var(--color-background-interactive-hover);
    cursor: pointer;
  }

  &:active {
    background-color: var(--color-background-interactive-active);
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--color-background-interactive-disabled);
    cursor: not-allowed;
  }

  svg {
    color: inherit;
    width: 1.125em;
    height: auto;
  }

  &.small {
    font-size: var(--type-button-label-small);
  }
  &.large {
    font-size: var(--type-button-label-large);
  }

  &.trailing {
    flex-direction: row-reverse;
  }

  &.large {
    font-size: var(--type-button-label-large);
    height: var(--height-large);
  }

  &.small {
    font-size: var(--type-button-label-small);
    height: var(--height-small);
  }

  &.secondary {
    background-color: var(--color-background-interactive-secondary-default);

    &:hover {
      background-color: var(--color-background-interactive-secondary-hover);
      cursor: pointer;
    }
    &:active {
      background-color: var(--color-background-interactive-secondary-active);
      cursor: pointer;
    }

    &:disabled {
      color: var(--color-disabled);
      background-color: var(--color-background-interactive-secondary-disabled);
      cursor: not-allowed;
    }
  }

  &.tertiary {
    padding-inline: 0.125em;
    color: var(--color-accent);
    background-color: transparent;
    border-bottom: 1px solid currentColor;
    border-radius: var(--radius-none);

    &:hover {
      background-color: var(--palette-alpha-blue-015);
    }

    &:active {
      background-color: var(--palette-alpha-blue-025);
    }

    &:disabled {
      color: var(--color-disabled);
      background-color: var(--color-background-interactive-tertiary-disabled);
      cursor: not-allowed;
    }
  }
  &.destructive {
    color: var(--color-system-critical-on);
    background-color: var(--color-system-critical-default);

    &:hover {
      background-color: var(--color-system-critical-hover);
    }

    &:active {
      background-color: var(--color-system-critical-active);
    }

    &:disabled {
      color: black;
      background-color: var(--color-system-critical-disabled);
    }
  }
}
