.root {
  position: relative;
}

.trigger {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: transparent;
}

.content {
  position: fixed;
  z-index: 1001;
  border: 1px solid var(--color-border-weak);
  background: var(--color-background-canvas);
  border-radius: var(--radius-default);
  width: max-content;
  padding-right: var(--size-200);

  ul {
    background-color: transparent;
  }
}
