.textarea {
  display: flex;
  flex-direction: column;
  gap: var(--size-100);
  width: 100%;
  color: var(--color-foreground-primary);

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--size-100);
  }

  .label {
    font: var(--type-label-medium);
  }

  .textareas {
    appearance: none;
    display: block;
    width: calc(100% - 1rem);
    background-color: var(--color-component-input-bg);
    border: 1px solid var(--color-component-input-border);
    border-radius: var(--radius-input);
    padding: var(--size-100) var(--size-075);
    min-height: var(--height-medium);
    color: var(--color-comnponent-input-value);

    &:hover {
      border-color: var(--color-component-input-border-hover);
    }

    &:active {
      border-color: var(--color-component-input-border-active);
    }

    &:focus-visible {
      outline: 2px solid var(--color-focus-ring);
      outline-offset: 2px;
      box-shadow: 0 0 0 4px var(--color-background-canvas);
      border-color: var(--color-component-input-border-active);
    }
  }

  .description {
    display: flex;
    align-items: center;
    gap: var(--size-100);
    font: var(--type-description-medium);

    svg {
      width: var(--size-250);
    }
  }
}

.error {
  .textareas {
    border: 1px solid var(--color-system-critical-strong);
  }
  .description {
    color: var(--color-sysytem-critical-strong);
  }
}

.textareas:disabled {
  color: var(--color-component-input-text-disabled);
  border-color: var(--color-component-input-border-disabled);
  background-color: var(--color-component-input-bg-disabled);
}
