.tabs {
  --border-width: 1px;

  display: flex;
  flex-direction: column;

  .tabs_list {
    display: flex;
    gap: var(--size-050);
    border-bottom: var(--border-width) solid var(--component-tabs-border);
  }

  .tabs_button {
    appearance: none;
    display: inline-flex;
    align-items: center;
    height: var(--height-medium);
    margin-bottom: calc(var(--border-width) * -1);
    padding-inline: 0.5em;
    border-bottom: 4px solid var(--component-tabs-background);
    color: var(--component-tabs-foreground);
    background-color: var(--component-tabs-background);
    cursor: pointer;
    font-size: var(--type-300);

    &[aria-selected="true"] {
      color: var(--component-tabs-foreground-active);
      border-color: var(--component-tabs-border-active);

      &:hover {
        color: var(--component-tabs-foreground-active);
      }
    }

    &:hover {
      cursor: pointer;
      color: var(--component-tabs-foreground-hover);
    }
  }

  &.small {
    font-size: var(--type-200);
    height: var(--height-small);
  }
  &.large {
    font-size: var(--type-400);
    height: var(--height-large);
  }
  &.x-large {
    font-size: var(--type-500);
    height: var(--height-large);
  }
}

.tab_panel {
  min-height: 50vh;
  padding: var(--size-400) 0;
  color: var(--color-primary);
}
