.tabs {
  --border-width: 2px;

  display: flex;
  flex-direction: column;

  .tabs_list {
    display: flex;
    gap: var(--size-100);
    box-shadow: inset 0px -1px var(--color-border-weak);
  }

  .tabs_button {
    appearance: none;

    display: flex;
    align-items: center;
    height: var(--height-medium);

    color: var(--color-foreground-primary);
    cursor: pointer;
    font-size: var(--type-400);
    gap: var(--size-100);
    border-bottom: 3px solid transparent;

    &[aria-selected="true"] {
      color: var(--color-foreground-accent);
      border-color: var(--border-color-accent);
      &:hover {
        cursor: default;
        border-color: var(--border-color-accent);
      }
    }

    &:hover {
      cursor: pointer;
      border-color: var(--color-border-strong);
    }
    &:disabled {
      cursor: not-allowed;
      color: var(--color-foreground-disabled);
      border-color: transparent;
    }
  }

  .x-small {
    .tabs_button {
      height: var(--height-small);
      font-size: var(--type-300);
      svg {
        width: var(--size-200);
      }
    }
  }

  .small {
    .tabs_button {
      height: var(--height-small);
      font-size: var(--type-300);
      svg {
        width: var(--size-200);
      }
    }
  }

  .large {
    .tabs_button {
      height: var(--height-large);
      font-size: var(--type-500);
      svg {
        width: var(--size-300);
      }
    }
  }

  .x-large {
    .tabs_button {
      height: var(--height-x-large);
      font-size: var(--type-600);

      svg {
        width: var(--size-350);
      }
    }
  }
}
