.tabs {
  --tabs-active: var(--color-surface-interactive);
  --tabs-enabled: var(--color-surface-interactive-secondary);
  --tabs-border: var(--color-surface-interactive-secondary);
}

.tabs {
  display: flex;
  flex-direction: column;

  .tabs_list {
    display: flex;
    gap: var(--size-100);
    border-bottom: var(--size-025) solid var(--color-border-interactive);
  }

  .tabs_button {
    appearance: none;
    display: inline-flex;
    align-items: center;
    height: var(--height-medium);
    padding-inline: var(--size-200);
    border: none;
    color: var(--color-on-interactive-secondary);
    background-color: var(--color-surface-interactive-secondary);
    border-radius: 2px 2px 0 0;

    &:hover {
      cursor: pointer;
      background-color: var(--color-surface-interactive-hover);
    }

    &:active {
      cursor: pointer;
      background-color: var(--color-surface-interactive-active);
    }

    &:disabled {
      color: var(--color-disabled);
      background-color: var(--color-surface-interactive-disabled);
      cursor: not-allowed;
    }

    &[aria-selected="true"] {
      color: var(--color-on-interactive);
      background-color: var(--color-surface-interactive);

      &:hover {
        cursor: default;
      }
    }
  }

  .tab_panel {
    min-height: 50vh;
    padding: var(--size-400) 0;
    color: var(--color-primary);
  }
}

.large {
  font-size: var(--type-button-label-large);
  height: var(--height-large);
}

.small {
  font-size: var(--type-button-label-small);
  height: var(--height-small);
}
