.input {
  display: flex;
  flex-direction: column;
  gap: var(--size-100);
  color: var(--color-foreground-primary);

  &.horizontal {
    flex-direction: row;
    gap: var(--size-400);

    label {
      min-width: 200px;
    }
  }

  .label {
    font-size: var(--type-400);
    line-height: 100%;
  }

  input {
    background-color: transparent;
    text-align: right;
    width: 100%;
    border: none;
    padding-inline: var(--size-200);

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--size-050);
  }

  .field {
    display: flex;
    flex-direction: row;
    gap: var(--size-050);
    height: var(--height-medium);
    color: var(--color-component-input-value);
    background-color: var(--color-component-input-background);
    border: 1px solid var(--color-component-input-border);
    border-radius: var(--radius-input);

    input {
      color: inherit;
      flex-grow: 2;
    }

    &:hover {
      border-color: var(--color-component-input-border-hover);
    }

    &:has(input:active) {
      border-color: var(--color-component-input-border-active);
    }

    &:focus-within {
      outline: 2px solid var(--color-focus-ring);
      outline-offset: 2px;
      box-shadow: 0 0 0 4px var(--color-background-canvas);
      border-color: var(--color-component-input-border-hover);
    }

    .unit {
      flex: 0 0 auto;
      min-width: var(--size-400);
      padding-inline: var(--size-200);

      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--color-component-input-foreground-unit);
      background-color: var(--color-component-input-background-unit);
      border-radius: 0 4px 4px 0;
      border-left: 1px solid var(--color-component-input-border);
    }
  }
}

.input:has(input:disabled) {
  .field {
    color: var(--color-disabled);
    background-color: transparent;
    border: 1px solid var(--color-component-input-border-disabled);
  }

  .unit {
    color: var(--color-disabled);
    background-color: transparent;
    border-color: var(--color-component-input-border-disabled);
  }
}
/*
.error {
  color: var(--color-system-critical-strong);

  .field {
    display: flex;
    height: var(--height-medium);

    border-color: var(--color-component-input-border-error);
    background-color: var(--color-background-critical-weak);
    background-color: var(--color-component-input-bg-error);

    input {
    }

    .unit {
      color: var(--color-system-critical-on-weak);
      background-color: var(--color-system-critical-weak);
      border-radius: 0 4px 4px 0;
      border-color: var(--color-system-critical-on-weak);
    }
  }
  .errormessage {
  }

  svg {
    width: var(--size-300);
    height: auto;
    margin-right: var(--size-100);
  }
}
*/
