.container {
  display: flex;
  padding: var(--size-100) var(--size-150) var(--size-100) var(--size-200);
  gap: var(--size-200);
  align-items: center;

  border-radius: var(--radius-medium);

  &.info {
    background-color: var(--color-system-info-default);
    color: var(--color-system-info-on);

    &.weak {
      background-color: var(--color-system-info-weak);
      color: var(--color-system-info-on-weak);
    }
  }

  &.critical {
    background-color: var(--color-system-critical-default);
    color: var(--color-system-critical-on);

    &.weak {
      background-color: var(--color-system-critical-weak);
      color: var(--color-system-critical-on-weak);
    }
  }

  &.success {
    background-color: var(--color-system-success-default);
    color: var(--color-system-success-on);

    &.weak {
      background-color: var(--color-system-success-weak);
      color: var(--color-system-success-on-weak);
    }
  }

  &.caution {
    background-color: var(--color-system-caution-default);
    color: var(--color-system-caution-on);

    &.weak {
      background-color: var(--color-system-caution-weak);
      color: var(--color-system-caution-on-weak);
    }
  }

  &.warning {
    background-color: var(--color-system-warning-default);
    color: var(--color-system-warning-on);

    &.weak {
      background-color: var(--color-system-warning-weak);
      color: var(--color-system-warning-on-weak);
    }
  }
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--size-200);
  flex: 1 0 0;
}

.title {
  font-size: var(--type-size-16);
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
