.toast {
  display: flex;
  padding: var(--size-100) var(--size-150) var(--size-100) var(--size-200);
  gap: var(--size-600);
  align-items: center;
  border-radius: var(--radius-default);

  svg {
    flex-shrink: 0;
  }

  button {
    color: currentColor !important;

    &:hover {
      background-color: hsl(0 0% 0% / 0.08) !important;
      border-color: transparent !important;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--size-200);
    flex: 1 0 0;
  }

  .title {
    font-size: var(--type-400);
    line-height: 1.35;
    font-weight: 400;
  }

  &.info {
    background-color: var(--color-system-info-strong);
    color: var(--color-system-info-on-strong);

    &.weak {
      background-color: var(--color-system-info-weak);
      color: var(--color-system-info-on-weak);
    }
  }

  &.critical {
    background-color: var(--color-system-critical-strong);
    color: var(--color-system-critical-on-strong);

    &.weak {
      background-color: var(--color-system-critical-weak);
      color: var(--color-system-critical-on-weak);
    }
  }

  &.success {
    background-color: var(--color-system-success-strong);
    color: var(--color-system-success-on-strong);

    &.weak {
      background-color: var(--color-system-success-weak);
      color: var(--color-system-success-on-weak);
    }
  }

  &.caution {
    background-color: var(--color-system-caution-strong);
    color: var(--color-system-caution-on-strong);

    &.weak {
      background-color: var(--color-system-caution-weak);
      color: var(--color-system-caution-on-weak);
    }
  }

  &.warning {
    background-color: var(--color-system-warning-strong);
    color: var(--color-system-warning-on-strong);

    &.weak {
      background-color: var(--color-system-warning-weak);
      color: var(--color-system-warning-on-weak);
    }
  }
}
