.switch {
  display: flex;
  gap: var(--size-200);
  justify-content: start;
  align-items: center;

  &:has(button.left) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &:has(button.top) {
    flex-direction: column-reverse;
  }

  &:has(button.top) {
    flex-direction: column-reverse;
  }

  .label {
    color: var(--c-switch-label);
    font: var(--type-label-medium);
  }

  .track {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    background-color: var(--color-system-neutral);
    border-radius: var(--radius-full);

    height: var(--size-300);
    width: var(--size-500);
    padding: var(--size-025);

    &:hover {
      cursor: pointer;
    }

    .thumb {
      width: var(--size-250);
      height: var(--size-250);
      border-radius: var(--radius-full);
      background-color: var(--color-foreground-on-accent);
    }

    &[aria-checked="true"] {
      justify-content: right;
      background-color: var(--color-background-accent);

      .thumb {
        background-color: var(--color-foreground-on-accent);
      }
    }

    &:disabled {
      background-color: var(--color-foreground-disabled);

      &[aria-checked="true"] {
        background-color: var(--c-switch-track-active-disabled);
      }

      + label {
        color: var(--color-foreground-disabled);
      }

      &:hover {
        cursor: not-allowed;
      }

      .thumb {
        background-color: var(--color-foreground-on-accent);
      }
    }
  }
}

.switch {
  &.small {
    .label {
      font: var(--type-label-small);
    }

    .track {
      height: var(--size-200);
      width: var(--size-350);
      padding: 1px;
    }
    .thumb {
      width: var(--size-175);
      height: var(--size-175);
    }
  }

  &.large {
    .label {
      font: var(--type-label-large);
    }

    .track {
      height: var(--size-400);
      width: var(--size-700);
      padding: var(--size-025);
    }

    .thumb {
      width: var(--size-350);
      height: var(--size-350);
    }
  }
}
.none + label {
  display: none;
}
