.switch {
  display: flex;
  gap: var(--size-200);
  justify-content: space-between;
  align-items: center;

  &:has(button.left) {
    flex-direction: row-reverse;
  }

  &:has(button.top) {
    flex-direction: column-reverse;
  }

  &:has(button.top) {
    flex-direction: column-reverse;
  }

  .label {
    color: var(--c-switch-label);
    font: var(--type-label-medium);
  }

  .track {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    background-color: var(--c-switch-track);
    border-radius: var(--radius-full);

    height: var(--size-300);
    width: var(--size-500);
    padding: var(--size-025);

    &:hover {
      cursor: pointer;
      background-color: var(--c-switch-track-hover);
    }

    .thumb {
      width: var(--size-250);
      height: var(--size-250);
      border-radius: var(--radius-full);
      background-color: var(--c-switch-thumb);
    }

    &[aria-checked="true"] {
      justify-content: right;
      background-color: var(--c-switch-track-active);

      &:hover {
        background-color: var(--c-switch-track-active-hover);
      }
h
      .thumb {
        background-color: var(--c-switch-thumb);
      }
    }

    &:disabled {
      background-color: var(--c-switch-track-disabled);

      &[aria-checked="true"] {
        background-color: var(--c-switch-track-active-disabled);
      }

      + label {
        color: var(--c-switch-label-disabled);
      }

      &:hover {
        cursor: not-allowed;
      }

      .thumb {
        background-color: var(--c-switch-thumb-disabled);
      }
    }
  }
}

.switch {
  &.small {
    .label {
      font: var(--type-label-small);
    }

    .track {
      height: var(--size-200);
      width: var(--size-350);
      padding: 1px;
    }
    .thumb {
      width: var(--size-175);
      height: var(--size-175);
    }
  }

  &.large {
    .label {
      font: var(--type-label-large);
    }

    .track {
      height: var(--size-400);
      width: var(--size-700);
      padding: var(--size-025);
    }

    .thumb {
      width: var(--size-350);
      height: var(--size-350);
    }
  }
}
.switch.none + label {
  display: none;
}
