.themeswitch {
  height: var(--size-300);
  width: 42px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;

  svg:last-child {
    display: none;
  }
}

.themeswitch[aria-checked="true"] {
  svg:first-child {
    display: none;
  }
  svg:last-child {
    display: block;
  }
}
