Global.css

/* A modern CSS reset, inspired Josh Comeau  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

:where(img, picture, video, canvas, svg) {
  display: block;
  max-width: 100%;
}

:where(input, button, textarea, select) {
  font: inherit;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

button {
  border: none;
  appearance: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utilities */

:focus-visible {
  outline: 2px solid canvasText;
  outline-offset: 4px;
  box-shadow: 0 0 0 4px canvas;
}

.hide-me {
  display: none;
}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* Token base */

:root {
  --type-family: Lato;
  --type-base: 1rem;
  --type-100: calc(var(--type-base) * 0.5);
  --type-200: calc(var(--type-base) * 0.625);
  --type-200: calc(var(--type-base) * 0.75);
  --type-300: calc(var(--type-base) * 0.875);
  --type-400: var(--type-base);
  --type-500: calc(var(--type-400) * 1.25);
  --type-600: calc(var(--type-500) * 1.25);
  --type-700: calc(var(--type-600) * 1.25);
  --type-800: calc(var(--type-700) * 1.25);
  --type-900: calc(var(--type-800) * 1.25);

  /* Spacing tokens - based upon a 8px grid */
  --space-base: 0.5rem;
  --space-025: calc(var(--space-base) * 0.25); /*   4px */
  --space-050: calc(var(--space-base) * 0.5); /*   4px */
  --space-075: calc(var(--space-base) * 0.75); /*   6px */
  --space-100: calc(var(--space-base) * 1); /*   8px */
  --space-150: calc(var(--space-base) * 1.5); /*  12px */
  --space-175: calc(var(--space-base) * 1.75); /*  14px */
  --space-200: calc(var(--space-base) * 2); /*  16px */
  --space-250: calc(var(--space-base) * 2.5); /*  20px */
  --space-300: calc(var(--space-base) * 3); /*  24px */
  --space-350: calc(var(--space-base) * 3.5); /*  28px */
  --space-400: calc(var(--space-base) * 4); /*  32px */
  --space-450: calc(var(--space-base) * 4.5); /*  36px */
  --space-500: calc(var(--space-base) * 5); /*  40px */
  --space-550: calc(var(--space-base) * 5.5); /*  44px */
  --space-600: calc(var(--space-base) * 6); /*  48px */
  --space-700: calc(var(--space-base) * 8); /*  48px */
  --space-800: calc(var(--space-base) * 10); /*  48px */
}

/* Fonts */

@font-face {
  font-family: "Lato";
  /* src: url("../fonts/Lato-Regular.woff2"); */
  src: url("../static/fonts/Lato-Regular.woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../static/fonts/Lato-Medium.woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Lato";
  src: url("../static/fonts/Lato-Semibold.woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Lato";
  src: url("../static/fonts/Lato-Bold.woff2");
  font-style: normal;
  font-weight: 700;
}

body {
  color-scheme: dark light;
  font-family: var(--type-family);
  line-height: 1;
}
