Global.css

/* A modern CSS reset, inspired Josh Comeau  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

:where(img, picture, video, canvas, svg) {
  display: block;
  max-width: 100%;
}

:where(input, button, textarea, select) {
  font: inherit;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}



/* Utilities */


:focus-visible {
  outline: 2px solid canvasText;
  outline-offset: 4px;
  box-shadow: 0 0 0 4px canvas;
}

.hide-me {
  display: none;
}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}



/* Palette */

:root {
  --hue-neutral: 0;
  --p-neutral-050: hsl(var(--hue-neutral) 0% 100%);
  --p-neutral-100: hsl(var(--hue-neutral) 0% 100%);
  --p-neutral-200: hsl(var(--hue-neutral) 0% 94%);
  --p-neutral-300: hsl(var(--hue-neutral) 0% 87%);
  --p-neutral-400: hsl(var(--hue-neutral) 0% 74%);
  --p-neutral-500: hsl(var(--hue-neutral) 0% 65%);
  --p-neutral-600: hsl(var(--hue-neutral) 0% 56%);
  --p-neutral-700: hsl(var(--hue-neutral) 0% 46%);
  --p-neutral-800: hsl(var(--hue-neutral) 0% 38%);
  --p-neutral-900: hsl(var(--hue-neutral) 0% 33%);
  --p-neutral-1000: hsl(var(--hue-neutral) 0% 27%);
  --p-neutral-1100: hsl(var(--hue-neutral) 0% 22%);
  --p-neutral-1200: hsl(var(--hue-neutral) 0% 17%);
  --p-neutral-1300: hsl(var(--hue-neutral) 0% 13%);
  --p-neutral-1400: hsl(var(--hue-neutral) 0% 12%);
  --p-neutral-1500: hsl(var(--hue-neutral) 0% 10%);

  --p-neutral-100: oklch(100% 0.005 96);
  --p-neutral-200: oklch(95% 0.005 96);
  --p-neutral-300: oklch(90% 0.005 96);
  --p-neutral-400: oklch(85% 0.005 96);
  --p-neutral-500: oklch(80% 0.005 96);
  --p-neutral-600: oklch(73% 0.005 96);
  --p-neutral-700: oklch(66% 0.005 96);
  --p-neutral-800: oklch(59% 0.005 96);
  --p-neutral-900: oklch(52% 0.005 96);
  --p-neutral-1000: oklch(45% 0.005 96);
  --p-neutral-11000: oklch(38% 0.005 96);
  --p-neutral-1200: oklch(31% 0.005 96);
  --p-neutral-1300: oklch(24% 0.005 96);
  --p-neutral-1400: oklch(20% 0.005 96);
  --p-neutral-1500: oklch(5% 0.005 96);

  --hue-blue-ocean: 198;
  --p-blue-ocean-100: hsl(var(--hue-blue-ocean) 100% 96%);
  --p-blue-ocean-200: hsl(var(--hue-blue-ocean) 100% 93%);
  --p-blue-ocean-300: hsl(var(--hue-blue-ocean) 90% 86%);
  --p-blue-ocean-400: hsl(var(--hue-blue-ocean) 90% 80%);
  --p-blue-ocean-500: hsl(var(--hue-blue-ocean) 90% 75%);
  --p-blue-ocean-600: hsl(var(--hue-blue-ocean) 90% 65%);
  --p-blue-ocean-700: hsl(var(--hue-blue-ocean) 78% 55%);
  --p-blue-ocean-800: hsl(var(--hue-blue-ocean) 100% 49%);
  --p-blue-ocean-900: hsl(var(--hue-blue-ocean) 100% 43%);
  --p-blue-ocean-1000: hsl(var(--hue-blue-ocean) 100% 38%);
  --p-blue-ocean-1100: hsl(var(--hue-blue-ocean) 100% 30%);
  --p-blue-ocean-1200: hsl(var(--hue-blue-ocean) 100% 19%);
  --p-blue-ocean-1300: hsl(var(--hue-blue-ocean) 100% 16%);
  --p-blue-ocean-1400: hsl(var(--hue-blue-ocean) 100% 14%);
  --p-blue-ocean-1500: hsl(var(--hue-blue-ocean) 100% 10%);
  /*

  --p-blue-ocean-100: oklch(96% 0.08 235);
  --p-blue-ocean-200: oklch(90% 0.08 235);
  --p-blue-ocean-300: oklch(84% 0.08 235);
  --p-blue-ocean-400: oklch(78% 0.08 235);
  --p-blue-ocean-500: oklch(72% 0.08 235);
  --p-blue-ocean-600: oklch(66% 0.08 235);
  --p-blue-ocean-700: oklch(60% 0.08 235);
  --p-blue-ocean-800: oklch(54% 0.08 235);
  --p-blue-ocean-900: oklch(48% 0.08 235);
  --p-blue-ocean-1000: oklch(42% 0.08 235);
  --p-blue-ocean-1100: oklch(36% 0.08 235);
  --p-blue-ocean-1200: oklch(30% 0.08 235);
  --p-blue-ocean-1300: oklch(28% 0.08 235);
  --p-blue-ocean-1400: oklch(24%.08 235);
  --p-blue-ocean-1500: oklch(20% 0.08 235);
*/
  --hue-green: 153;
  --p-green-100: hsl(var(--hue-green) 68% 94%);
  --p-green-200: hsl(var(--hue-green) 66% 92%);
  --p-green-300: hsl(var(--hue-green) 67% 83%);
  --p-green-400: hsl(var(--hue-green) 65% 74%);
  --p-green-500: hsl(var(--hue-green) 67% 65%);
  --p-green-600: hsl(var(--hue-green) 67% 56%);
  --p-green-700: hsl(var(--hue-green) 78% 46%);
  --p-green-800: hsl(var(--hue-green) 100% 38%);
  --p-green-900: hsl(var(--hue-green) 100% 33%);
  --p-green-1000: hsl(var(--hue-green) 100% 27%);
  --p-green-1100: hsl(var(--hue-green) 100% 22%);
  --p-green-1200: hsl(var(--hue-green) 100% 17%);
  --p-green-1300: hsl(var(--hue-green) 100% 13%);
  --p-green-1400: hsl(var(--hue-green) 100% 12%);
  --p-green-1500: hsl(var(--hue-green) 100% 10%);

  --hue-orange: 36;
  --p-orange-100: hsl(var(--hue-orange) 100% 95%);
  --p-orange-200: hsl(var(--hue-orange) 100% 90%);
  --p-orange-300: hsl(var(--hue-orange) 100% 85%);
  --p-orange-400: hsl(var(--hue-orange) 100% 75%);
  --p-orange-500: hsl(var(--hue-orange) 100% 65%);
  --p-orange-600: hsl(var(--hue-orange) 100% 60%);
  --p-orange-700: hsl(var(--hue-orange) 100% 55%);
  --p-orange-800: hsl(var(--hue-orange) 100% 50%);
  --p-orange-900: hsl(var(--hue-orange) 100% 40%);
  --p-orange-1000: hsl(var(--hue-orange) 100% 35%);
  --p-orange-1100: hsl(var(--hue-orange) 100% 30%);
  --p-orange-1200: hsl(var(--hue-orange) 100% 25%);
  --p-orange-1300: hsl(var(--hue-orange) 100% 20%);
  --p-orange-1400: hsl(var(--hue-orange) 100% 15%);
  --p-orange-1500: hsl(var(--hue-orange) 100% 10%);

  --hue-yellow: 52;
  --p-yellow-100: hsl(var(--hue-yellow) 100% 95%);
  --p-yellow-200: hsl(var(--hue-yellow) 100% 92%);
  --p-yellow-300: hsl(var(--hue-yellow) 100% 87%);
  --p-yellow-400: hsl(var(--hue-yellow) 100% 82%);
  --p-yellow-500: hsl(var(--hue-yellow) 100% 77%);
  --p-yellow-600: hsl(var(--hue-yellow) 100% 70%);
  --p-yellow-700: hsl(var(--hue-yellow) 100% 60%);
  --p-yellow-800: hsl(var(--hue-yellow) 100% 53%);
  --p-yellow-900: hsl(var(--hue-yellow) 100% 49%);
  --p-yellow-1000: hsl(var(--hue-yellow) 100% 45%);
  --p-yellow-1100: hsl(var(--hue-yellow) 100% 35%);
  --p-yellow-1200: hsl(var(--hue-yellow) 100% 30%);
  --p-yellow-1300: hsl(var(--hue-yellow) 100% 25%);
  --p-yellow-1400: hsl(var(--hue-yellow) 100% 20%);
  --p-yellow-1500: hsl(var(--hue-yellow) 100% 15%);

  --hue-pink: 300;
  --p-pink-100: hsl(var(--hue-pink) 100% 95%);
  --p-pink-200: hsl(var(--hue-pink) 100% 90%);
  --p-pink-300: hsl(var(--hue-pink) 100% 85%);
  --p-pink-400: hsl(var(--hue-pink) 100% 75%);
  --p-pink-500: hsl(var(--hue-pink) 100% 65%);
  --p-pink-600: hsl(var(--hue-pink) 100% 60%);
  --p-pink-700: hsl(var(--hue-pink) 100% 55%);
  --p-pink-800: hsl(var(--hue-pink) 100% 50%);
  --p-pink-900: hsl(var(--hue-pink) 100% 40%);
  --p-pink-1000: hsl(var(--hue-pink) 100% 35%);
  --p-pink-1100: hsl(var(--hue-pink) 100% 30%);
  --p-pink-1200: hsl(var(--hue-pink) 100% 25%);
  --p-pink-1300: hsl(var(--hue-pink) 100% 20%);
  --p-pink-1400: hsl(var(--hue-pink) 100% 15%);
  --p-pink-1500: hsl(var(--hue-pink) 100% 10%);

  --hue-red: 0;
  --p-red-100: hsl(var(--hue-red) 100% 95%);
  --p-red-200: hsl(var(--hue-red) 100% 90%);
  --p-red-300: hsl(var(--hue-red) 100% 85%);
  --p-red-400: hsl(var(--hue-red) 100% 77%);
  --p-red-500: hsl(var(--hue-red) 100% 70%);
  --p-red-600: hsl(var(--hue-red) 100% 65%);
  --p-red-700: hsl(var(--hue-red) 100% 60%);
  --p-red-800: hsl(var(--hue-red) 100% 55%);
  --p-red-900: hsl(var(--hue-red) 100% 50%);
  --p-red-1000: hsl(var(--hue-red) 100% 45%);
  --p-red-1100: hsl(var(--hue-red) 100% 40%);
  --p-red-1200: hsl(var(--hue-red) 100% 35%);
  --p-red-1300: hsl(var(--hue-red) 100% 30%);
  --p-red-1400: hsl(var(--hue-red) 100% 25%);
  --p-red-1500: hsl(var(--hue-red) 100% 20%);
}


/* Token base */

:root {
  --type-family: Lato;
  --type-base: 1rem;
  --type-100: calc(var(--type-base) * 0.5);
  --type-200: calc(var(--type-base) * 0.625);
  --type-200: calc(var(--type-base) * 0.75);
  --type-300: calc(var(--type-base) * 0.875);
  --type-400: var(--type-base);
  --type-500: calc(var(--type-400) * 1.25);
  --type-600: calc(var(--type-500) * 1.25);
  --type-700: calc(var(--type-600) * 1.25);
  --type-800: calc(var(--type-700) * 1.25);
  --type-900: calc(var(--type-800) * 1.25);

  /* Spacing tokens - based upon a 8px grid */
  --space-base: 0.5rem;
  --space-025: calc(var(--space-base) * 0.25); /*   4px */
  --space-050: calc(var(--space-base) * 0.5); /*   4px */
  --space-075: calc(var(--space-base) * 0.75); /*   6px */
  --space-100: calc(var(--space-base) * 1); /*   8px */
  --space-150: calc(var(--space-base) * 1.5); /*  12px */
  --space-175: calc(var(--space-base) * 1.75); /*  14px */
  --space-200: calc(var(--space-base) * 2); /*  16px */
  --space-250: calc(var(--space-base) * 2.5); /*  20px */
  --space-300: calc(var(--space-base) * 3); /*  24px */
  --space-350: calc(var(--space-base) * 3.5); /*  28px */
  --space-400: calc(var(--space-base) * 4); /*  32px */
  --space-450: calc(var(--space-base) * 4.5); /*  36px */
  --space-500: calc(var(--space-base) * 5); /*  40px */
  --space-550: calc(var(--space-base) * 5.5); /*  44px */
  --space-600: calc(var(--space-base) * 6); /*  48px */
  --space-700: calc(var(--space-base) * 8); /*  48px */
  --space-800: calc(var(--space-base) * 10); /*  48px */
}




/* Fonts */

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Medium.woff2");
  font-style: normal;
  font-weight: 500;
}


@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff2");
  font-style: normal;
  font-weight: 700;
}



body {
  color-scheme: dark light ;
  font-family: var(--type-family);
  line-height: 1;
}


