:root {
  --palette-neutral-050: hsla(0, 0%, 100%, 1);
  --palette-neutral-075: hsla(198, 6%, 95%, 1);
  --palette-neutral-100: hsla(0, 0%, 95%, 1);
  --palette-neutral-200: hsla(0, 0%, 93%, 1);
  --palette-neutral-300: hsla(0, 0%, 87%, 1);
  --palette-neutral-400: hsla(0, 0%, 80%, 1);
  --palette-neutral-500: hsla(0, 0%, 73%, 1);
  --palette-neutral-600: hsla(0, 0%, 67%, 1);
  --palette-neutral-700: hsla(0, 0%, 60%, 1);
  --palette-neutral-800: hsla(0, 0%, 50%, 1);
  --palette-neutral-900: hsla(0, 0%, 47%, 1);
  --palette-neutral-1000: hsla(0, 0%, 40%, 1);
  --palette-neutral-1100: hsla(0, 0%, 33%, 1);
  --palette-neutral-1200: hsla(0, 0%, 27%, 1);
  --palette-neutral-1300: hsla(0, 0%, 20%, 1);
  --palette-neutral-1400: hsla(0, 0%, 13%, 1);
  --palette-neutral-1500: hsla(0, 0%, 7%, 1);

  --palette-neutral-new-050: hsla(0, 0%, 100%, 1);
  --palette-neutral-new-100: hsla(198, 10%, 96%, 1);
  --palette-neutral-new-200: hsla(198, 10%, 90%, 1);
  --palette-neutral-new-300: hsla(198, 10%, 80%, 1);
  --palette-neutral-new-400: hsla(198, 10%, 70%, 1);
  --palette-neutral-new-500: hsla(198, 10%, 60%, 1);
  --palette-neutral-new-600: hsla(198, 10%, 40%, 1);
  --palette-neutral-new-700: hsla(198, 10%, 30%, 1);
  --palette-neutral-new-800: hsla(198, 10%, 20%, 1);
  --palette-neutral-new-900: hsla(198, 10%, 10%, 1);

  --palette-blue-198-050: hsla(198, 100%, 96%, 1);
  --palette-blue-198-100: hsla(198, 100%, 93%, 1);
  --palette-blue-198-200: hsla(198, 100%, 91%, 1);
  --palette-blue-198-300: hsla(198, 100%, 82%, 1);
  --palette-blue-198-400: hsla(198, 100%, 74%, 1);
  --palette-blue-198-500: hsla(198, 100%, 65%, 1);
  --palette-blue-198-700: hsla(198, 100%, 44%, 1);
  --palette-blue-198-600: hsla(198, 100%, 54%, 1);
  --palette-blue-198-800: hsla(198, 100%, 34%, 1);
  --palette-blue-198-900: hsla(198, 100%, 32%, 1);
  --palette-blue-198-1000: hsla(198, 100%, 27%, 1);
  --palette-blue-198-1100: hsla(198, 100%, 23%, 1);
  --palette-blue-198-1200: hsla(198, 100%, 18%, 1);
  --palette-blue-198-1300: hsla(198, 100%, 14%, 1);
  --palette-blue-198-1400: hsla(198, 100%, 9%, 1);
  --palette-blue-198-1500: hsla(198, 100%, 5%, 1);

  --palette-blue-210-100: hsla(210, 80%, 96%, 1);
  --palette-blue-210-200: hsla(210, 80%, 90%, 1);
  --palette-blue-210-300: hsla(210, 80%, 80%, 1);
  --palette-blue-210-400: hsla(210, 80%, 70%, 1);
  --palette-blue-210-500: hsla(210, 80%, 50%, 1);
  --palette-blue-210-600: hsla(210, 80%, 40%, 1);
  --palette-blue-210-700: hsla(210, 80%, 30%, 1);
  --palette-blue-210-800: hsla(210, 65%, 20%, 1);
  --palette-blue-210-900: hsla(210, 80%, 8%, 1);
  --palette-neutral-new-050: hsla(0, 0%, 100%, 1);
  --palette-neutral-new-100: hsla(198, 10%, 96%, 1);
  --palette-neutral-new-200: hsla(198, 10%, 90%, 1);
  --palette-neutral-new-300: hsla(198, 10%, 80%, 1);
  --palette-neutral-new-400: hsla(198, 10%, 70%, 1);
  --palette-neutral-new-500: hsla(198, 10%, 60%, 1);
  --palette-neutral-new-600: hsla(198, 10%, 40%, 1);
  --palette-neutral-new-700: hsla(198, 10%, 30%, 1);
  --palette-neutral-new-800: hsla(198, 10%, 20%, 1);
  --palette-neutral-new-900: hsla(198, 10%, 10%, 1);

  --palette-yellow-100: hsla(52, 100%, 95%, 1);
  --palette-yellow-200: hsla(50, 100%, 92%, 1);
  --palette-yellow-300: hsla(52, 100%, 87%, 1);
  --palette-yellow-400: hsla(52, 100%, 80%, 1);
  --palette-yellow-500: hsla(52, 100%, 73%, 1);
  --palette-yellow-600: hsla(52, 100%, 67%, 1);
  --palette-yellow-700: hsla(52, 100%, 60%, 1);
  --palette-yellow-800: hsla(50, 100%, 55%, 1);
  --palette-yellow-900: hsla(52, 100%, 47%, 1);
  --palette-yellow-1000: hsla(52, 100%, 40%, 1);
  --palette-yellow-1100: hsla(52, 100%, 33%, 1);
  --palette-yellow-1200: hsla(52, 100%, 27%, 1);
  --palette-yellow-1300: hsla(52, 100%, 20%, 1);
  --palette-yellow-1400: hsla(52, 100%, 13%, 1);
  --palette-yellow-1500: hsla(52, 100%, 7%, 1);

  --palette-green-100: hsla(155, 43%, 95%, 1);
  --palette-green-200: hsla(154, 42%, 93%, 1);
  --palette-green-300: hsla(153, 44%, 85%, 1);
  --palette-green-400: hsla(153, 43%, 78%, 1);
  --palette-green-500: hsla(154, 43%, 71%, 1);
  --palette-green-600: hsla(153, 43%, 63%, 1);
  --palette-green-700: hsla(153, 43%, 56%, 1);
  --palette-green-800: hsla(153, 43%, 48%, 1);
  --palette-green-900: hsla(153, 43%, 42%, 1);
  --palette-green-1000: hsla(153, 43%, 36%, 1);
  --palette-green-1100: hsla(153, 43%, 30%, 1);
  --palette-green-1200: hsla(153, 43%, 24%, 1);
  --palette-green-1300: hsla(153, 43%, 18%, 1);
  --palette-green-1400: hsla(153, 44%, 12%, 1);
  --palette-green-1500: hsla(152, 42%, 6%, 1);

  --palette-red-100: hsla(0, 83%, 95%, 1);
  --palette-red-200: hsla(0, 85%, 90%, 1);
  --palette-red-300: hsla(0, 87%, 85%, 1);
  --palette-red-400: hsla(0, 89%, 75%, 1);
  --palette-red-500: hsla(0, 91%, 65%, 1);
  --palette-red-600: hsla(0, 93%, 60%, 1);
  --palette-red-700: hsla(0, 95%, 50%, 1);
  --palette-red-800: hsla(0, 100%, 45%, 1);
  --palette-red-900: hsla(0, 100%, 38%, 1);
  --palette-red-1000: hsla(0, 100%, 35%, 1);
  --palette-red-1100: hsla(0, 100%, 30%, 1);
  --palette-red-1200: hsla(0, 100%, 25%, 1);
  --palette-red-1300: hsla(0, 100%, 20%, 1);
  --palette-red-1400: hsla(0, 100%, 18%, 1);
  --palette-red-1500: hsla(0, 100%, 12%, 1);

  --palette-orange-050: hsla(30, 90%, 97%, 1);
  --palette-orange-100: hsla(30, 90%, 94%, 1);
  --palette-orange-200: hsla(30, 85%, 90%, 1);
  --palette-orange-300: hsla(30, 100%, 85%, 1);
  --palette-orange-400: hsla(30, 85%, 80%, 1);
  --palette-orange-500: hsla(30, 85%, 75%, 1);
  --palette-orange-600: hsla(30, 85%, 70%, 1);
  --palette-orange-700: hsla(30, 85%, 65%, 1);
  --palette-orange-800: hsla(36, 100%, 55%, 1);
  --palette-orange-900: hsla(30, 85%, 50%, 1);
  --palette-orange-1000: hsla(30, 85%, 45%, 1);
  --palette-orange-1100: hsla(30, 85%, 40%, 1);
  --palette-orange-1200: hsla(30, 85%, 35%, 1);
  --palette-orange-1300: hsla(30, 85%, 30%, 1);
  --palette-orange-1400: hsla(30, 85%, 25%, 1);
  --palette-orange-1500: hsla(26, 73%, 15%, 1);

  --palette-alpha-blue-005: hsla(198, 100%, 20%, 0.05);
  --palette-alpha-blue-010: hsla(198, 100%, 14%, 0.1);
  --palette-alpha-blue-020: hsla(198, 100%, 14%, 0.2);
  --palette-alpha-blue-040: hsla(198, 100%, 14%, 0.4);
  --palette-alpha-blue-050: hsla(198, 100%, 14%, 0.5);
  --palette-alpha-blue-060: hsla(198, 100%, 14%, 0.6);
  --palette-alpha-blue-070: hsla(198, 100%, 14%, 0.7);
  --palette-alpha-blue-080: hsla(198, 100%, 14%, 0.8);
  --palette-alpha-blue-090: hsla(198, 100%, 14%, 0.9);
  --palette-alpha-blue-100: hsla(198, 100%, 14%, 1);

  --palette-alpha-blue-light-001: hsla(198, 100%, 50%, 0.01);
  --palette-alpha-blue-light-005: hsla(198, 100%, 50%, 0.05);
  --palette-alpha-blue-light-010: hsla(198, 100%, 50%, 0.1);
  --palette-alpha-blue-light-015: hsla(198, 100%, 50%, 0.15);
  --palette-alpha-blue-light-020: hsla(198, 100%, 50%, 0.2);
  --palette-alpha-blue-light-030: hsla(198, 100%, 50%, 0.3);
  --palette-alpha-blue-light-040: hsla(198, 100%, 50%, 0.4);
  --palette-alpha-blue-light-050: hsla(198, 100%, 50%, 0.5);
  --palette-alpha-blue-light-060: hsla(198, 100%, 50%, 0.6);
  --palette-alpha-blue-light-070: hsla(198, 100%, 50%, 0.7);
  --palette-alpha-blue-light-075: hsla(198, 100%, 50%, 0.75);
  --palette-alpha-blue-light-080: hsla(198, 100%, 50%, 0.8);
  --palette-alpha-blue-light-090: hsla(198, 100%, 50%, 0.9);
  --palette-alpha-blue-light-100: hsla(198, 100%, 50%, 1);

  --palette-alpha-red-005: hsla(7, 82%, 44%, 0.25);

  --palette-alpha-white-000: hsla(0, 0%, 100%, 0);
  --palette-alpha-white-010: hsla(0, 0%, 100%, 0.1);
  --palette-alpha-white-020: hsla(0, 0%, 100%, 0.2);
  --palette-alpha-white-030: hsla(0, 0%, 100%, 0.3);
  --palette-alpha-white-040: hsla(0, 0%, 100%, 0.4);
  --palette-alpha-white-050: hsla(0, 0%, 100%, 0.5);
  --palette-alpha-white-060: hsla(0, 0%, 100%, 0.6);
  --palette-alpha-white-070: hsla(0, 0%, 100%, 0.7);
  --palette-alpha-white-080: hsla(0, 0%, 100%, 0.8);
  --palette-alpha-white-090: hsla(0, 0%, 100%, 0.9);
  --palette-alpha-white-100: hsla(0, 0%, 100%, 1);

  --palette-alpha-black-000: hsla(0, 0%, 0%, 0);
  --palette-alpha-black-002: hsla(0, 0%, 0%, 0.02);
  --palette-alpha-black-005: hsla(0, 0%, 0%, 0.05);
  --palette-alpha-black-010: hsla(0, 0%, 0%, 0.1);
  --palette-alpha-black-020: hsla(0, 0%, 0%, 0.2);
  --palette-alpha-black-030: hsla(0, 0%, 0%, 0.3);
  --palette-alpha-black-040: hsla(0, 0%, 0%, 0.4);
  --palette-alpha-black-050: hsla(0, 0%, 0%, 0.5);
  --palette-alpha-black-060: hsla(0, 0%, 0%, 0.6);
  --palette-alpha-black-070: hsla(0, 0%, 0%, 0.7);
  --palette-alpha-black-080: hsla(0, 0%, 0%, 0.8);
  --palette-alpha-black-090: hsla(0, 0%, 0%, 0.9);
  --palette-alpha-black-100: hsla(0, 0%, 0%, 1);
}
