/* Palette */

:root {
  --hue-neutral: 0;
  --p-neutral-050: hsl(var(--hue-neutral) 0% 100%);
  --p-neutral-100: hsl(var(--hue-neutral) 0% 100%);
  --p-neutral-200: hsl(var(--hue-neutral) 0% 94%);
  --p-neutral-300: hsl(var(--hue-neutral) 0% 87%);
  --p-neutral-400: hsl(var(--hue-neutral) 0% 74%);
  --p-neutral-500: hsl(var(--hue-neutral) 0% 65%);
  --p-neutral-600: hsl(var(--hue-neutral) 0% 56%);
  --p-neutral-700: hsl(var(--hue-neutral) 0% 46%);
  --p-neutral-800: hsl(var(--hue-neutral) 0% 38%);
  --p-neutral-900: hsl(var(--hue-neutral) 0% 33%);
  --p-neutral-1000: hsl(var(--hue-neutral) 0% 27%);
  --p-neutral-1100: hsl(var(--hue-neutral) 0% 22%);
  --p-neutral-1200: hsl(var(--hue-neutral) 0% 17%);
  --p-neutral-1300: hsl(var(--hue-neutral) 0% 13%);
  --p-neutral-1400: hsl(var(--hue-neutral) 0% 12%);
  --p-neutral-1500: hsl(var(--hue-neutral) 0% 10%);

  --hue-blue-ocean: 198;
  --p-blue-ocean-100: hsl(var(--hue-blue-ocean) 100% 94%);
  --p-blue-ocean-200: hsl(var(--hue-blue-ocean) 100% 91%);
  --p-blue-ocean-300: hsl(var(--hue-blue-ocean) 100% 82%);
  --p-blue-ocean-400: hsl(var(--hue-blue-ocean) 100% 74%);
  --p-blue-ocean-500: hsl(var(--hue-blue-ocean) 100% 65%);
  --p-blue-ocean-600: hsl(var(--hue-blue-ocean) 100% 54%);
  --p-blue-ocean-700: hsl(var(--hue-blue-ocean) 100% 44%);
  --p-blue-ocean-800: hsl(var(--hue-blue-ocean) 100% 34%);
  --p-blue-ocean-900: hsl(var(--hue-blue-ocean) 100% 32%);
  --p-blue-ocean-1000: hsl(var(--hue-blue-ocean) 100% 27%);
  --p-blue-ocean-1100: hsl(var(--hue-blue-ocean) 100% 23%);
  --p-blue-ocean-1200: hsl(var(--hue-blue-ocean) 100% 18%);
  --p-blue-ocean-1300: hsl(var(--hue-blue-ocean) 100% 14%);
  --p-blue-ocean-1400: hsl(var(--hue-blue-ocean) 100% 9%);
  --p-blue-ocean-1500: hsl(var(--hue-blue-ocean) 100% 5%);

  /* Alphas */

  --p-alpha-neutral-40: hsl(100 100% 100% / 0.4);
  --p-alpha-neutral-15: hsl(100 100% 100% / 0.15);

  --p-alpha-blue-ocean-05: hsl(var(--hue-blue-ocean) 100% 50%/ 0.05);
  --p-alpha-blue-ocean-10: hsl(var(--hue-blue-ocean) 100% 50%/ 0.1);
  --p-alpha-blue-ocean-15: hsl(var(--hue-blue-ocean) 100% 50%/ 0.15);
  --p-alpha-blue-ocean-20: hsl(var(--hue-blue-ocean) 100% 50%/ 0.2);
  --p-alpha-blue-ocean-25: hsl(var(--hue-blue-ocean) 100% 50%/ 0.25);

  --p-alpha-red-10: hsl(var(--hue-red) 100% 55% / 0.2);
  --p-alpha-red-35: hsl(var(--hue-red) 100% 55% / 0.35);

  --p-alpha-black-0: hsl(0 0% 0% / 0);
  --p-alpha-black-05: hsl(0 0% 0% / 0.05);
  --p-alpha-black-10: hsl(0 0% 0% / 0.1);
  --p-alpha-black-15: hsl(0 0% 0% / 0.15);
  --p-alpha-black-20: hsl(0 0% 0% / 0.2);
  --p-alpha-black-30: hsl(0 0% 0% / 0.3);
  --p-alpha-black-40: hsl(0 0% 0% / 0.4);
  --p-alpha-black-50: hsl(0 0% 0% / 0.5);
  --p-alpha-black-60: hsl(0 0% 0% / 0.6);
  --p-alpha-black-70: hsl(0 0% 0% / 0.7);
  --p-alpha-black-80: hsl(0 0% 0% / 0.8);
  --p-alpha-black-90: hsl(0 0% 0% / 0.9);
  --p-alpha-black-100: hsl(0 0% 0% / 1);

  --p-alpha-white-0: hsl(0 0% 100% / 0);
  --p-alpha-white-05: hsl(0 0% 100% / 0.05);
  --p-alpha-white-10: hsl(0 0% 100% / 0.1);
  --p-alpha-white-15: hsl(0 0% 100% / 0.15);
  --p-alpha-white-20: hsl(0 0% 100% / 0.2);
  --p-alpha-white-30: hsl(0 0% 100% / 0.3);
  --p-alpha-white-40: hsl(0 0% 100% / 0.4);
  --p-alpha-white-50: hsl(0 0% 100% / 0.5);
  --p-alpha-white-60: hsl(0 0% 100% / 0.6);
  --p-alpha-white-70: hsl(0 0% 100% / 0.7);
  --p-alpha-white-80: hsl(0 0% 100% / 0.8);
  --p-alpha-white-90: hsl(0 0% 100% / 0.9);
  --p-alpha-white-100: hsl(0 0% 100% / 1);

  --p-alpha-neutral-05: hsl(var(--hue-neutral) 100% 0% / 0.05);

  --p-alpha-neutral-40: hsl(100 100% 100% / 0.4);

  /*
  
    --p-blue-ocean-100: oklch(96% 0.08 235);
    --p-blue-ocean-200: oklch(90% 0.08 235);
    --p-blue-ocean-300: oklch(84% 0.08 235);
    --p-blue-ocean-400: oklch(78% 0.08 235);
    --p-blue-ocean-500: oklch(72% 0.08 235);
    --p-blue-ocean-600: oklch(66% 0.08 235);
    --p-blue-ocean-700: oklch(60% 0.08 235);
    --p-blue-ocean-800: oklch(54% 0.08 235);
    --p-blue-ocean-900: oklch(48% 0.08 235);
    --p-blue-ocean-1000: oklch(42% 0.08 235);
    --p-blue-ocean-1100: oklch(36% 0.08 235);
    --p-blue-ocean-1200: oklch(30% 0.08 235);
    --p-blue-ocean-1300: oklch(28% 0.08 235);
    --p-blue-ocean-1400: oklch(24%.08 235);
    --p-blue-ocean-1500: oklch(20% 0.08 235);
  */

  --hue-blue-193: 193;
  --p-blue-193-100: hsl(var(--hue-blue-193) 2% 99%);
  --p-blue-193-200: hsl(var(--hue-blue-193) 3% 98%);
  --p-blue-193-300: hsl(var(--hue-blue-193) 9% 94%);
  --p-blue-193-400: hsl(var(--hue-blue-193) 14% 91%);
  --p-blue-193-500: hsl(var(--hue-blue-193) 22% 87%);
  --p-blue-193-600: hsl(var(--hue-blue-193) 31% 84%);
  --p-blue-193-700: hsl(var(--hue-blue-193) 44% 80%);
  --p-blue-193-800: hsl(var(--hue-blue-193) 100% 74%);
  --p-blue-193-900: hsl(var(--hue-blue-193) 100% 70%);
  --p-blue-193-1000: hsl(var(--hue-blue-193) 100% 60%);
  --p-blue-193-1100: hsl(var(--hue-blue-193) 100% 46%);
  --p-blue-193-1200: hsl(var(--hue-blue-193) 100% 36%);
  --p-blue-193-1300: hsl(var(--hue-blue-193) 100% 27%);
  --p-blue-193-1400: hsl(var(--hue-blue-193) 100% 20%);
  --p-blue-193-1500: hsl(var(--hue-blue-193) 100% 10%);

  --hue-green: 153;
  --p-green-100: hsl(var(--hue-green) 68% 94%);
  --p-green-200: hsl(var(--hue-green) 66% 92%);
  --p-green-300: hsl(var(--hue-green) 67% 83%);
  --p-green-400: hsl(var(--hue-green) 65% 74%);
  --p-green-500: hsl(var(--hue-green) 67% 65%);
  --p-green-600: hsl(var(--hue-green) 67% 56%);
  --p-green-700: hsl(var(--hue-green) 78% 46%);
  --p-green-800: hsl(var(--hue-green) 100% 38%);
  --p-green-900: hsl(var(--hue-green) 100% 33%);
  --p-green-1000: hsl(var(--hue-green) 100% 27%);
  --p-green-1100: hsl(var(--hue-green) 100% 22%);
  --p-green-1200: hsl(var(--hue-green) 100% 17%);
  --p-green-1300: hsl(var(--hue-green) 100% 13%);
  --p-green-1400: hsl(var(--hue-green) 100% 12%);
  --p-green-1500: hsl(var(--hue-green) 100% 10%);

  --hue-orange: 36;
  --p-orange-100: hsl(var(--hue-orange) 100% 95%);
  --p-orange-200: hsl(var(--hue-orange) 100% 90%);
  --p-orange-300: hsl(var(--hue-orange) 100% 85%);
  --p-orange-400: hsl(var(--hue-orange) 100% 75%);
  --p-orange-500: hsl(var(--hue-orange) 100% 65%);
  --p-orange-600: hsl(var(--hue-orange) 100% 60%);
  --p-orange-700: hsl(var(--hue-orange) 100% 55%);
  --p-orange-800: hsl(var(--hue-orange) 100% 50%);
  --p-orange-900: hsl(var(--hue-orange) 100% 40%);
  --p-orange-1000: hsl(var(--hue-orange) 100% 35%);
  --p-orange-1100: hsl(var(--hue-orange) 100% 30%);
  --p-orange-1200: hsl(var(--hue-orange) 100% 25%);
  --p-orange-1300: hsl(var(--hue-orange) 100% 20%);
  --p-orange-1400: hsl(var(--hue-orange) 100% 15%);
  --p-orange-1500: hsl(var(--hue-orange) 100% 10%);

  --hue-yellow: 52;
  --p-yellow-100: hsl(var(--hue-yellow) 100% 95%);
  --p-yellow-200: hsl(var(--hue-yellow) 100% 92%);
  --p-yellow-300: hsl(var(--hue-yellow) 100% 87%);
  --p-yellow-400: hsl(var(--hue-yellow) 100% 82%);
  --p-yellow-500: hsl(var(--hue-yellow) 100% 77%);
  --p-yellow-600: hsl(var(--hue-yellow) 100% 70%);
  --p-yellow-700: hsl(var(--hue-yellow) 100% 60%);
  --p-yellow-800: hsl(var(--hue-yellow) 100% 53%);
  --p-yellow-900: hsl(var(--hue-yellow) 100% 49%);
  --p-yellow-1000: hsl(var(--hue-yellow) 100% 45%);
  --p-yellow-1100: hsl(var(--hue-yellow) 100% 35%);
  --p-yellow-1200: hsl(var(--hue-yellow) 100% 30%);
  --p-yellow-1300: hsl(var(--hue-yellow) 100% 25%);
  --p-yellow-1400: hsl(var(--hue-yellow) 100% 20%);
  --p-yellow-1500: hsl(var(--hue-yellow) 100% 15%);

  --hue-pink: 300;
  --p-pink-100: hsl(var(--hue-pink) 100% 95%);
  --p-pink-200: hsl(var(--hue-pink) 100% 90%);
  --p-pink-300: hsl(var(--hue-pink) 100% 85%);
  --p-pink-400: hsl(var(--hue-pink) 100% 75%);
  --p-pink-500: hsl(var(--hue-pink) 100% 65%);
  --p-pink-600: hsl(var(--hue-pink) 100% 60%);
  --p-pink-700: hsl(var(--hue-pink) 100% 55%);
  --p-pink-800: hsl(var(--hue-pink) 100% 50%);
  --p-pink-900: hsl(var(--hue-pink) 100% 40%);
  --p-pink-1000: hsl(var(--hue-pink) 100% 35%);
  --p-pink-1100: hsl(var(--hue-pink) 100% 30%);
  --p-pink-1200: hsl(var(--hue-pink) 100% 25%);
  --p-pink-1300: hsl(var(--hue-pink) 100% 20%);
  --p-pink-1400: hsl(var(--hue-pink) 100% 15%);
  --p-pink-1500: hsl(var(--hue-pink) 100% 10%);

  --hue-purple: 270;
  --p-purple-100: hsl(var(--hue-purple) 100% 95%);
  --p-purple-200: hsl(var(--hue-purple) 100% 90%);
  --p-purple-300: hsl(var(--hue-purple) 100% 85%);
  --p-purple-400: hsl(var(--hue-purple) 100% 77%);
  --p-purple-500: hsl(var(--hue-purple) 100% 70%);
  --p-purple-600: hsl(var(--hue-purple) 100% 65%);
  --p-purple-700: hsl(var(--hue-purple) 100% 60%);
  --p-purple-800: hsl(var(--hue-purple) 100% 55%);
  --p-purple-900: hsl(var(--hue-purple) 100% 50%);
  --p-purple-1000: hsl(var(--hue-purple) 100% 45%);
  --p-purple-1100: hsl(var(--hue-purple) 100% 40%);
  --p-purple-1200: hsl(var(--hue-purple) 100% 35%);
  --p-purple-1300: hsl(var(--hue-purple) 100% 30%);
  --p-purple-1400: hsl(var(--hue-purple) 100% 25%);
  --p-purple-1500: hsl(var(--hue-purple) 100% 20%);

  --hue-red: 0;
  --p-red-100: hsl(var(--hue-red) 100% 95%);
  --p-red-200: hsl(var(--hue-red) 100% 90%);
  --p-red-300: hsl(var(--hue-red) 100% 85%);
  --p-red-400: hsl(var(--hue-red) 100% 77%);
  --p-red-500: hsl(var(--hue-red) 100% 70%);
  --p-red-600: hsl(var(--hue-red) 100% 65%);
  --p-red-700: hsl(var(--hue-red) 100% 60%);
  --p-red-800: hsl(var(--hue-red) 100% 55%);
  --p-red-900: hsl(var(--hue-red) 100% 50%);
  --p-red-1000: hsl(var(--hue-red) 100% 45%);
  --p-red-1100: hsl(var(--hue-red) 100% 40%);
  --p-red-1200: hsl(var(--hue-red) 100% 35%);
  --p-red-1300: hsl(var(--hue-red) 100% 30%);
  --p-red-1400: hsl(var(--hue-red) 100% 25%);
  --p-red-1500: hsl(var(--hue-red) 100% 20%);
}
