:root {
  /*  SIZEING  --------------------------------------------- */

  --size-base: 0.5rem;
  --size-025: calc(var(--size-base) * 0.25); /*   2px */
  --size-050: calc(var(--size-base) * 0.5); /*   4px */
  --size-075: calc(var(--size-base) * 0.75); /*   6px */
  --size-100: calc(var(--size-base) * 1); /*   8px */
  --size-150: calc(var(--size-base) * 1.5); /*  12px */
  --size-175: calc(var(--size-base) * 1.75); /*  14px */
  --size-200: calc(var(--size-base) * 2); /*  16px */
  --size-250: calc(var(--size-base) * 2.5); /*  20px */
  --size-300: calc(var(--size-base) * 3); /*  24px */
  --size-350: calc(var(--size-base) * 3.5); /*  28px */
  --size-400: calc(var(--size-base) * 4); /*  32px */
  --size-450: calc(var(--size-base) * 4.5); /*  36px */
  --size-500: calc(var(--size-base) * 5); /*  40px */
  --size-550: calc(var(--size-base) * 5.5); /*  44px */
  --size-600: calc(var(--size-base) * 6); /* 48x */
  --size-700: calc(var(--size-base) * 7); /*  56px */
  --size-800: calc(var(--size-base) * 8); /*  56px */
  --size-900: calc(var(--size-base) * 9); /*  72px */
  --size-1000: calc(var(--size-base) * 10); /*  80px */

  --height-x-small: var(--size-200);
  --height-small: var(--size-300);
  --height-medium: var(--size-400);
  --height-large: var(--size-500);
  --height-x-large: var(--size-600);

  /*  TYPOGRAPHY  --------------------------------------------- */

  --type-family: Lato;
  --type-family-primary: Lato;
  --type-base: 1rem;

  --type-100: calc(var(--type-base) * 0.5);
  --type-150: calc(var(--type-base) * 0.625);
  --type-200: calc(var(--type-base) * 0.75); /*12*/
  --type-300: calc(var(--type-base) * 0.875); /*14*/
  --type-400: var(--type-base);
  --type-450: calc(var(--type-base) * 1.125);
  --type-500: calc(var(--type-400) * 1.25);
  --type-600: calc(var(--type-500) * 1.25);
  --type-700: calc(var(--type-600) * 1.25);
  --type-800: calc(var(--type-700) * 1.25);
  --type-900: calc(var(--type-800) * 1.25);

  /*  CORNER RADIUS  --------------------------------------------- */

  --radius-none: 0;
  --radius-small: var(--size-025);
  --radius-default: var(--size-050);
  --radius-round: var(--size-200);
  --radius-full: 999rem;
  --radius-input: var(--radius-default);
  --radius-input: var(--size-050);
}
