:root {
  /* COLOR TOKENS -------------------------------------- */
  /* Text and shapes */
  --color-primary: var(--p-neutral-100);
  --color-secondary: var(--p-neutral-300);
  --color-tertiary: var(--p-neutral-500);
  --color-disabled: hsl(100 100% 100% / 0.4);
  --color-invert: var(--p-neutral-1400);
  --color-accent: var(--p-blue-ocean-700);
  --color-accent-hover: var(--p-blue-ocean-900);
  --color-on-accent: var(--p-neutral-100);
  --color-on-interactive: var(--p-neutral-100);
  --color-on-system: var(--p-neutral-100);
  --color-on-system-caution: var(--p-neutral-100);
  /* Surface aka Background */

  --color-surface-neutral: var(--p-neutral-500);
  --color-surface-neutral-disabled: var(--p-alpha-blue-ocean-15);

  --color-surface-primary: var(--p-blue-ocean-1300);
  --color-surface-secondary: var(--p-blue-ocean-1200);
  --color-surface-tertiary: var(--p-blue-ocean-1100);
  --color-surface-invert: var(--p-blue-ocean-100);
  --color-surface-canvas: var(--p-blue-ocean-1400);
  --color-surface-accent: var(--p-blue-ocean-700);

  --color-surface-interactive: var(--p-blue-ocean-700);
  --color-surface-interactive-hover: var(--p-blue-ocean-900);
  --color-surface-interactive-pressed: var(--p-blue-ocean-1000);
  --color-surface-interactive-disabled: var(--p-alpha-blue-ocean-13);

  --color-surface-interactive-secondary: var(--p-blue-ocean-1000);
  --color-surface-interactive-secondary-hover: var(--p-blue-ocean-1100);
  --color-surface-interactive-secondary-pressed: var(--p-blue-ocean-1300);
  --color-surface-interactive-secondary-disabled: var(--p-alpha-blue-ocean-14);

  --color-alert-danger: var(--p-red-800);
  --color-alert-danger-hover: var(--p-red-1100);
  --color-alert-danger-pressed: var(--p-red-1300);
  --color-alert-danger-disabled: var(--p-alpha-red-35);

  --color-border-accent: var(--color-accent);

  --color-focus-ring: var(--p-yellow-800);

  /*  SIZEING  --------------------------------------------- */

  --size-base: 0.5rem;
  --size-025: calc(var(--size-base) * 0.25); /*   2px */
  --size-050: calc(var(--size-base) * 0.5); /*   4px */
  --size-075: calc(var(--size-base) * 0.75); /*   6px */
  --size-100: calc(var(--size-base) * 1); /*   8px */
  --size-150: calc(var(--size-base) * 1.5); /*  12px */
  --size-175: calc(var(--size-base) * 1.75); /*  14px */
  --size-200: calc(var(--size-base) * 2); /*  16px */
  --size-250: calc(var(--size-base) * 2.5); /*  20px */
  --size-300: calc(var(--size-base) * 3); /*  24px */
  --size-350: calc(var(--size-base) * 3.5); /*  28px */
  --size-400: calc(var(--size-base) * 4); /*  32px */
  --size-450: calc(var(--size-base) * 4.5); /*  36px */
  --size-500: calc(var(--size-base) * 5); /*  40px */
  --size-550: calc(var(--size-base) * 5.5); /*  44px */
  --size-600: calc(var(--size-base) * 6);
  --size-700: calc(var(--size-base) * 7); /*  56px */
  --size-800: calc(var(--size-base) * 8); /*  56px */
  --size-900: calc(var(--size-base) * 9); /*  72px */
  --size-1000: calc(var(--size-base) * 10); /*  80px */

  --height-medium: var(--size-400);
  --height-large: var(--size-500);
  --height-small: var(--size-300);

  /*  TYPOGRAPHY  --------------------------------------------- */

  --type-family: Lato;
  --type-base: 1rem;
  --type-100: calc(var(--type-base) * 0.5);
  --type-200: calc(var(--type-base) * 0.625);
  --type-200: calc(var(--type-base) * 0.75);
  --type-300: calc(var(--type-base) * 0.875);
  --type-400: var(--type-base);
  --type-500: calc(var(--type-400) * 1.25);
  --type-600: calc(var(--type-500) * 1.25);
  --type-700: calc(var(--type-600) * 1.25);
  --type-800: calc(var(--type-700) * 1.25);
  --type-900: calc(var(--type-800) * 1.25);

  --type-label: var(--type-300);

  --type-button-label: var(--type-400);
  --type-button-label-large: var(--type-500);
  --type-button-label-small: var(--type-200);

  /*  CORNER RADIUS  --------------------------------------------- */

  --radius-none: 0;
  --radius-small: var(--size-025);
  --radius-default: var(--size-050);
  --radius-round: var(--size-200);
  --radius-full: 999rem;
}
