body.dark-theme {
  color-scheme: dark;

  /* foregrund (text/icon) colors ------------------------------------------------------------ */

  --color-foreground-primary: var(--palette-neutral-100);
  --color-foreground-secondary: var(--palette-alpha-white-060);
  --color-foreground-tertiary: var(--palette-alpha-white-020);
  --color-foreground-disabled: var(--palette-alpha-white-030);
  --color-foreground-on-disabled: var(--palette-blue-198-100);
  --color-foreground-invert: var(--palette-neutral-1500);
  --color-foreground-accent: var(--palette-blue-198-700);
  --color-foreground-interactive-default: var(--color-foreground-accent);
  --color-foreground-interactive-on: var(--palette-neutral-050);
  --color-foreground-interactive-hover: var(--palette-blue-198-800);
  --color-foreground-interactive-disabled: var(--palette-blue-198-1000);
  --color-foreground-interactive-secondary-default: var(--palette-blue-198-800);
  --color-foreground-interactive-secondary-on: var(--palette-alpha-white-090);
  --color-foreground-interactive-secondary-hover: var(--palette-blue-198-1000);
  --color-foreground-on-accent: var(--palette-neutral-050);
  --color-foreground-on-muted: var(--palette-neutral-050);
  --color-foreground-interactive-tertiary-default: var(--palette-blue-198-1000);
  --color-foreground-interactive-tertiary-on: var(--palette-blue-198-100);
  --color-foreground-interactive-tertiary-hover: var(--palette-blue-198-1000);

  /* background colors ------------------------------------------------------------ */

  --color-background-primary: var(--palette-blue-198-1300);
  --color-background-neutral: var(--palette-blue-198-1300);
  --color-background-neutral-hover: var(--palette-neutral-700);
  --color-background-neutral-disabled: var(--palette-alpha-white-020);
  --color-background-secondary: var(--palette-blue-198-1200);
  --color-background-tertiary: var(--palette-blue-198-1100);
  --color-background-invert: var(--palette-blue-198-100);
  --color-background-accent: var(--color-foreground-accent);
  --color-background-canvas: var(--palette-blue-198-1400);
  --color-background-landing: var(--palette-blue-198-1400);
  --color-background-interactive-default: var(--color-foreground-accent);
  --color-background-interactive-hover: var(--palette-blue-198-800);
  --color-background-interactive-active: var(--palette-blue-198-1000);
  --color-background-interactive-disabled: var(--palette-alpha-blue-light-010);
  --color-background-interactive-secondary-default: var(--palette-blue-198-1000);
  --color-background-interactive-tertiary-default: var(--palette-alpha-white-000);
  --color-background-interactive-secondary-hover: var(--palette-blue-198-1200);
  --color-background-interactive-secondary-active: var(--palette-blue-198-1400);
  --color-background-interactive-secondary-disabled: var(--palette-blue-198-1400);

  --color-background-interactive-new-hover: var(--palette-blue-198-1300);
  --color-background-interactive-new-active: var(--palette-blue-198-1100);
  --color-background-interactive-new-selected: var(--palette-blue-198-900);

  /* system colors  ------------------------------------------------------------ */

  /* system colors: neutral  ------------------------------------------------------------ */
  --color-system-neutral: var(--palette-neutral-800);
  --color-system-neutral-on: var(--palette-neutral-new-100);
  --color-system-neutral-strong: var(--palette-alpha-white-060);
  --color-system-neutral-on-strong: var(--color-foreground-invert);
  --color-system-neutral-weak: var(--palette-alpha-white-020);
  --color-system-neutral-on-weak: var(--color-foreground-primary);
  --color-system-neutral-border-weak: transparent;

  /* system colors: critical (red) ------------------------------------------------------------ */
  --color-system-critical-strong: var(--palette-red-1100);
  --color-system-critical-on-strong: var(--palette-red-100);
  --color-system-critical-strong-hover: var(--palette-red-1200);
  --color-system-critical-strong-active: var(--palette-red-1400);
  --color-system-critical-strong-disabled: var(--palette-red-100);
  --color-system-critical-weak: var(--palette-red-300);
  --color-system-critical-on-weak: var(--palette-red-1500);
  --color-system-critical-weak-border: transparent;

  /* system colors: info (blue)  ------------------------------------------------------------ */
  --color-system-info-strong: var(--color-background-accent);
  --color-system-info-on-strong: var(--color-foreground-on-accent);
  --color-system-info-weak: var(--palette-blue-198-1200);
  --color-system-info-on-weak: var(--color-foreground-primary);
  --color-system-info-weak-border: transparent;

  /* system colors: caution (yellow)  ------------------------------------------------------------ */
  --color-system-caution-strong: var(--palette-yellow-700);
  --color-system-caution-on-strong: var(--palette-yellow-1500);
  --color-system-caution-weak: var(--palette-yellow-300);
  --color-system-caution-on-weak: var(--palette-yellow-1500);
  --color-system-caution-weak-border: transparent;

  /* system colors: warning  (orange) ------------------------------------------------------------ */
  --color-system-warning-strong: var(--palette-orange-800);
  --color-system-warning-on-strong: var(--palette-orange-1500);
  --color-system-warning-weak: var(--palette-orange-400);
  --color-system-warning-on-weak: var(--palette-orange-1500);
  --color-system-warning-weak-border: transparent;

  /* system colors: success (green)  ------------------------------------------------------------ */
  --color-system-success-strong: var(--palette-green-1200);
  --color-system-success-on-strong: var(--palette-green-100);
  --color-system-success-strong-hover: var(--palette-green-1300);
  --color-system-success-strong-active: var(--palette-green-1300);
  --color-system-success-weak: var(--palette-green-500);
  --color-system-success-on-weak: var(--palette-green-1400);
  --color-system-success-weak-border: transparent;

  /* border colors  ------------------------------------------------------------ */

  --color-border-weak: var(--palette-neutral-400);
  --color-border-strong: var(--palette-neutral-050);
  --color-border-primary: var(--palette-neutral-050);
  --color-border-secondary: var(--palette-alpha-white-050);
  --color-border-invert: var(--palette-neutral-1400);
  --color-border-accent: var(--color-foreground-accent);
  --color-border-invert: var(--color-foreground-invert);
  --color-border-focus: var(--color-foreground-accent);

  --color-border-interactive-default: var(--color-foreground-interactive-default);
  --color-border-interactive-hover: var(--color-foreground-interactive-hover);
  --color-border-interactive-disabled: var(--palette-alpha-blue-light-010);
  --color-border-interactive-secondary-default: var(--color-foreground-interactive-secondary-default);
  --color-border-interactive-secondary-hover: var(--color-foreground-interactive-secondary-hover);

  /* ============================================================================= */
}

body.day-theme {
  color-scheme: light;

  /* foreground (text/icon) colors  ------------------------------------------------------------ */
  --color-foreground-primary: var(--palette-neutral-new-900);
  --color-foreground-secondary: var(--palette-neutral-new-600);
  --color-foreground-tertiary: var(--palette-neutral-new-500);
  --color-foreground-disabled: var(--palette-neutral-new-400);
  --color-foreground-on-disabled: var(--palette-neutral-new-400);
  --color-foreground-invert: var(--palette-neutral-new-050);
  --color-foreground-on-invert: var(--palette-neutral-new-900);
  --color-foreground-accent: var(--palette-blue-210-500);
  --color-foreground-interactive-default: var(--palette-blue-210-500);
  --color-foreground-interactive-on: var(--palette-neutral-new-050);
  --color-foreground-interactive-hover: var(--palette-blue-210-700);
  --color-foreground-interactive-disabled: var(--palette-neutral-new-200);
  --color-foreground-interactive-secondary-default: var(--palette-neutral-new-300);
  --color-foreground-interactive-secondary-dn: var(--palette-neutral-new-900);
  --color-foreground-interactive-secondary-hover: var(--palette-neutral-new-400);
  --color-foreground-on-accent: var(--palette-neutral-new-050);
  --color-foreground-on-muted: var(--palette-neutral-new-050);
  --color-foreground-interactive-tertiary-default: hsla(0, 100%, 54%, 1);
  --color-foreground-interactive-tertiary-on: hsla(0, 100%, 54%, 1);
  --color-foreground-interactive-tertiary-hover: hsla(0, 100%, 54%, 1);

  /* background colors  ------------------------------------------------------------ */

  --color-background-primary: var(--palette-neutral-new-100);
  --color-background-neutral: var(--palette-neutral-new-200);
  --color-background-neutral-hover: var(--palette-neutral-new-400);
  --color-background-neutral-disabled: var(--palette-alpha-black-020);
  --color-background-secondary: var(--palette-neutral-new-200);
  --color-background-tertiary: var(--palette-alpha-black-040);
  --color-background-invert: var(--palette-alpha-black-100);
  --color-background-accent: var(--color-foreground-interactive-default);
  --color-background-canvas: var(--palette-neutral-new-050);
  --color-background-landing: hsla(170, 90%, 96%, 1);
  --color-background-be-aware: hsla(173, 65%, 56%, 1);
  --color-background-interactive-default: var(--color-foreground-interactive-default);
  --color-background-interactive-focus: var(--color-foreground-interactive-default);
  --color-background-interactive-hover: var(--palette-blue-210-600);
  --color-background-interactive-active: var(--palette-blue-210-700);
  --color-background-interactive-disabled: hsla(0, 0%, 0%, 1);
  --color-background-interactive-secondary-default: var(--palette-alpha-black-000);
  --color-background-interactive-tertiary-default: var(--palette-alpha-white-100);
  --color-background-interactive-secondary-hover: var(--palette-alpha-black-020);
  --color-background-interactive-secondary-active: hsla(0, 0%, 0%, 1);
  --color-background-interactive-secondary-disabled: hsla(0, 0%, 0%, 1);

  --color-background-interactive-new-hover: var(--palette-neutral-new-100);
  --color-background-interactive-new-active: var(--palette-neutral-new-300);
  --color-background-interactive-new-selected: var(--palette-blue-210-300);

  /* system colors: neutral  ------------------------------------------------------------ */
  --color-system-neutral: var(--palette-neutral-new-400);
  --color-system-neutral-on: var(--palette-neutral-new-100);
  --color-system-neutral-strong: var(--palette-neutral-new-700);
  --color-system-neutral-on-strong: var(--palette-neutral-new-100);
  --color-system-neutral-weak: var(--palette-neutral-new-200);
  --color-system-neutral-on-weak: var(--palette-neutral-new-700);
  --color-system-neutral-border-weak: var(--palette-neutral-new-400);

  /* system colors: critical (red) ------------------------------------------------------------ */
  --color-system-critical-strong: var(--palette-red-800);
  --color-system-critical-on-strong: var(--palette-alpha-white-100);
  --color-system-critical-strong-hover: var(--palette-red-1000);
  --color-system-critical-strong-active: var(--palette-red-1300);
  --color-system-critical-strong-disabled: var(--palette-red-100);
  --color-system-critical-weak: var(--palette-red-100);
  --color-system-critical-on-weak: var(--palette-red-1500);
  --color-system-critical-weak-border: var(--palette-red-400);

  /* system colors: info (blue)  ------------------------------------------------------------ */
  --color-system-info-strong: var(--palette-blue-210-500);
  --color-system-info-on-strong: var(--palette-neutral-050);
  --color-system-info-weak: var(--palette-blue-210-100);
  --color-system-info-on-weak: var(--palette-blue-210-900);
  --color-system-info-weak-border: var(--palette-blue-210-400);

  /* system colors: caution (yellow)  ------------------------------------------------------------ */
  --color-system-caution-strong: var(--palette-yellow-700);
  --color-system-caution-on: var(--palette-yellow-1500);
  --color-system-caution-weak: var(--palette-yellow-200);
  --color-system-caution-on-weak: var(--palette-yellow-1500);
  --color-system-caution-weak-border: var(--palette-yellow-800);

  /* system colors: warning  (orange) ------------------------------------------------------------ */
  --color-system-warning-strong: var(--palette-orange-800);
  --color-system-warning-on-strong: var(--palette-orange-1500);
  --color-system-warning-weak: var(--palette-orange-200);
  --color-system-warning-on-weak: var(--palette-orange-1500);
  --color-system-warning-weak-border: var(--palette-orange-500);

  /* system colors: success (green)  ------------------------------------------------------------ */
  --color-system-success-strong: var(--palette-green-1000);
  --color-system-success-on-strong: var(--palette-green-100);
  --color-system-success-strong-hover: var(--palette-green-1200);
  --color-system-success-strong-active: var(--palette-green-1400);
  --color-system-success-weak: var(--palette-green-300);
  --color-system-success-on-weak: var(--palette-green-1300);
  --color-system-success-weak-border: var(--palette-green-800);

  /* border colors  ------------------------------------------------------------ */
  --color-border-strong: var(--palette-neutral-new-900);
  --color-border-weak: var(--palette-neutral-new-200);
  --color-border-primary: var(--palette-neutral-new-900);
  --color-border-accent: var(--palette-neutral-new-900);
  --color-border-invert: var(--color-foreground-invert);
  --color-border-interactive-default: var(--color-foreground-accent-default);
  --color-border-interactive-hover: var(--color-foreground-accent-hover);
  --color-border-interactive-disabled: var(--color-foreground-accent-disabled);
  --color-border-secondary: var(--palette-alpha-black-050);
  --color-focus-ring: var(--color-foreground-accent);
  --color-border-accent: var(--color-foreground-accent);
  --color-border-focus: var(--color-foreground-accent);
}
