:root {
  /* foregrund (text/icon) colors ------------------------------------------------------------ */

  --color-foreground-primary: var(--palette-neutral-100);
  --color-foreground-secondary: var(--palette-alpha-white-060);
  --color-foreground-tertiary: var(--palette-alpha-white-020);
  --color-foreground-disabled: var(--palette-alpha-white-030);
  --color-foreground-on-disabled: var(--palette-blue-198-100);
  --color-foreground-invert: var(--palette-neutral-1500);
  --color-foreground-accent: var(--palette-blue-198-700);
  --color-foreground-interactive-default: var(--color-foreground-accent);
  --color-foreground-interactive-on: var(--palette-neutral-050);
  --color-foreground-interactive-hover: var(--palette-blue-198-800);
  --color-foreground-interactive-disabled: var(--palette-blue-198-1000);
  --color-foreground-interactive-secondary-default: var(--palette-blue-198-800);
  --color-foreground-interactive-secondary-on: var(--palette-alpha-white-090);
  --color-foreground-interactive-secondary-hover: var(--palette-blue-198-1000);
  --color-foreground-on-accent: var(--palette-neutral-050);
  --color-foreground-on-muted: var(--palette-neutral-050);
  --color-foreground-interactive-tertiary-default: var(--palette-blue-198-1000);
  --color-foreground-interactive-tertiary-on: var(--palette-blue-198-100);
  --color-foreground-interactive-tertiary-hover: var(--palette-blue-198-1000);

  /* background colors ------------------------------------------------------------ */

  --color-background-primary: var(--palette-blue-198-1300);
  --color-background-neutral: var(--palette-blue-198-1300);
  --color-background-neutral-hover: var(--palette-neutral-700);
  --color-background-neutral-disabled: var(--palette-alpha-white-020);
  --color-background-secondary: var(--palette-blue-198-1200);
  --color-background-tertiary: var(--palette-blue-198-1100);
  --color-background-invert: var(--palette-blue-198-100);
  --color-background-accent: var(--color-foreground-accent);
  --color-background-canvas: var(--palette-blue-198-1400);
  --color-background-landing: var(--palette-blue-198-1400);
  --color-background-interactive-default: var(--color-foreground-accent);
  --color-background-interactive-hover: var(--palette-blue-198-800);
  --color-background-interactive-active: var(--palette-blue-198-1000);
  --color-background-interactive-disabled: var(--palette-alpha-blue-light-010);
  --color-background-interactive-secondary-default: var(--palette-blue-198-1000);
  --color-background-interactive-tertiary-default: var(--palette-alpha-white-000);
  --color-background-interactive-secondary-hover: var(--palette-blue-198-1200);
  --color-background-interactive-secondary-active: var(--palette-blue-198-1400);
  --color-background-interactive-secondary-disabled: var(--palette-blue-198-1400);

  /* system colors  ------------------------------------------------------------ */

  --color-system-info-default: var(--palette-blue-198-800);
  --color-system-info-on: var(--palette-neutral-050);
  --color-system-info-weak: var(--palette-blue-198-1200);
  --color-system-info-on-weak: var(--palette-blue-198-1200);
  --color-system-caution-default: var(--palette-yellow-800);
  --color-system-caution-on: var(--palette-yellow-1500);
  --color-system-be-aware-default: var(--palette-beaware-alt-blues-noticeme);
  --color-system-be-aware-on: var(--palette-beaware-alt-blues-nevermindme-5);
  --color-system-be-aware-weak: var(--palette-beaware-alt-blues-knowme-3);
  --color-system-be-aware-on-weak: var(--palette-beaware-alt-blues-nevermindme-4);
  --color-system-caution-weak: var(--palette-yellow-300);
  --color-system-caution-on-weak: var(--palette-yellow-1500);
  --color-system-warning-default: var(--palette-orange-800);
  --color-system-warning-on: var(--palette-neutral-1500);
  --color-system-warning-weak: var(--palette-orange-300);
  --color-system-warning-on-weak: var(--palette-neutral-1500);
  --color-system-critical-default: var(--palette-red-900);
  --color-system-critical-on: var(--palette-neutral-050);
  --color-system-critical-hover: var(--palette-red-1100);
  --color-system-critical-active: var(--palette-red-1300);
  --color-system-critical-disabled: var(--palette-alpha-red-005);
  --color-system-critical-weak: var(--palette-red-300);
  --color-system-critical-on-weak: var(--palette-red-1400);
  --color-system-success-default: var(--palette-green-800);
  --color-system-success-on: var(--palette-green-1500);
  --color-system-success-hover: var(--palette-green-1000);
  --color-system-success-active: var(--palette-green-1200);
  --color-system-success-weak: var(--palette-green-300);
  --color-system-success-on-weak: var(--palette-green-1300);

  /* system colors: neutral  ------------------------------------------------------------ */

  --color-system-neutral-strong: var(--palette-alpha-white-060);
  --color-system-neutral-on-strong: var(--color-foreground-invert);
  --color-system-neutral-weak: var(--palette-alpha-white-020);
  --color-system-neutral-on-weak: var(--color-foreground-primary);
  --color-system-neutral-border-weak: transparent;

  /* system colors: critical (red) ------------------------------------------------------------ */
  --color-system-critical-strong: var(--palette-red-1100);
  --color-system-critical-on-strong: var(--palette-red-100);
  --color-system-critical-strong-hover: var(--palette-red-1200);
  --color-system-critical-strong-active: var(--palette-red-1400);
  --color-system-critical-strong-disabled: var(--palette-red-100);
  --color-system-critical-weak: var(--palette-red-300);
  --color-system-critical-on-weak: var(--palette-red-1500);
  --color-system-critical-weak-border: transparent;

  /* system colors: info (blue)  ------------------------------------------------------------ */
  --color-system-info-strong: var(--color-background-accent);
  --color-system-info-on-strong: var(--color-foreground-on-accent);
  --color-system-info-weak: var(--palette-blue-198-1200);
  --color-system-info-on-weak: var(--color-foreground-primary);
  --color-system-info-weak-border: transparent;

  /* system colors: caution (yellow)  ------------------------------------------------------------ */
  --color-system-caution-strong: var(--palette-yellow-700);
  --color-system-caution-on-strong: var(--palette-yellow-1500);
  --color-system-caution-weak: var(--palette-yellow-300);
  --color-system-caution-on-weak: var(--palette-yellow-1500);
  --color-system-caution-weak-border: transparent;

  /* system colors: warning  (orange) ------------------------------------------------------------ */
  --color-system-warning-strong: var(--palette-orange-800);
  --color-system-warning-on-strong: var(--palette-orange-1500);
  --color-system-warning-weak: var(--palette-orange-400);
  --color-system-warning-on-weak: var(--palette-orange-1500);
  --color-system-warning-weak-border: transparent;

  /* system colors: success (green)  ------------------------------------------------------------ */
  --color-system-success-strong: var(--palette-green-1200);
  --color-system-success-on-strong: var(--palette-green-100);
  --color-system-success-strong-hover: var(--palette-green-1300);
  --color-system-success-strong-active: var(--palette-green-1300);
  --color-system-success-weak: var(--palette-green-500);
  --color-system-success-on-weak: var(--palette-green-1400);
  --color-system-success-weak-border: transparent;

  /* border colors  ------------------------------------------------------------ */

  --color-border-weak: var(--palette-neutral-400);
  --color-border-strong: var(--palette-neutral-050);
  --color-border-primary: var(--palette-neutral-050);
  --color-border-secondary: var(--palette-alpha-white-050);
  --color-border-invert: var(--palette-neutral-1400);
  --color-border-accent: var(--color-foreground-accent);
  --color-border-invert: var(--color-foreground-invert);
  --color-border-focus: var(--color-foreground-accent);

  --color-border-interactive-default: var(--color-foreground-interactive-default);
  --color-border-interactive-hover: var(--color-foreground-interactive-hover);
  --color-border-interactive-disabled: var(--palette-alpha-blue-light-010);
  --color-border-interactive-secondary-default: var(--color-foreground-interactive-secondary-default);
  --color-border-interactive-secondary-hover: var(--color-foreground-interactive-secondary-hover);

  /*component level tokens ------------------------------------------------------------ */

  --color-component-bar-border: var(--color-border-primary);
  --color-component-bar-indicator: var(--palette-alpha-blue-light-075);
  --color-component-bar-indicator-warning: var(--color-system-warning-default);
  --color-component-bar-indicator-critical: var(--color-system-critical-default);
  --color-component-bar-corner: 0;

  --color-component-table-bg-head: var(--palette-alpha-blue-light-010);
  --color-component-table-bg-default: transparent;
  --color-component-table-bg-alt: var(--palette-alpha-blue-light-015);
  --color-component-table-bg-hover: var(--palette-alpha-blue-light-020);
  --color-component-table-bg-selected: var(--palette-beaware-main-contrast-3);
  --color-component-table-bg-transparent: transparent;
  --color-component-table-border-cell: var(--palette-blue-198-1000);
  --color-component-table-border-head: var(--palette-blue-198-800);

  --color-component-app-header-background: var(--palette-blue-198-1300);
  --color-component-app-header-foreground: var(--palette-alpha-white-100);

  --color-component-input-foreground: var(--palette-neutral-100);
  --color-component-input-foreground-disabled: var(--color-foreground-disabled);
  --color-component-input-foreground-locked: var(--palette-blue-198-600);
  --color-component-input-foreground-error: var(--color-system-critical-default);
  --color-component-input-background: var(--palette-neutral-100);
  --color-component-input-background-hover: var(--palette-blue-198-100);
  --color-component-input-background-disabled: transparent;
  --color-component-input-background-error: var(--palette-red-100);
  --color-component-input-value: var(--palette-neutral-1400);
  --color-component-input-value-disabled: var(--color-foreground-disabled);
  --color-component-input-value-error: var(--color-system-critical-default);
  --color-component-input-value-locked: var(--palette-blue-198-600);
  --color-component-input-unit-background: var(--palette-neutral-200);
  --color-component-input-unit-background-locked: var(--palette-alpha-blue-light-010);
  --color-component-input-unit-background-hover: var(--palette-blue-198-200);
  --color-component-input-border: var(--palette-alpha-blue-020);
  --color-component-input-border-hover: var(--palette-alpha-blue-020);
  --color-component-input-border-select: var(--color-foreground-accent);
  --color-component-input-border-disabled: var(--palette-alpha-white-030);
  --color-component-input-border-locked: var(--palette-blue-198-600);
  --color-component-input-disabled: var(--palette-blue-198-1100);
}

body.day-theme {
  /* foreground (text/icon) colors  ------------------------------------------------------------ */
  --color-foreground-primary: var(--palette-neutral-new-900);
  --color-foreground-secondary: var(--palette-neutral-new-600);
  --color-foreground-tertiary: var(--palette-neutral-new-500);
  --color-foreground-disabled: var(--palette-neutral-new-400);
  --color-foreground-on-disabled: var(--palette-neutral-new-400);
  --color-foreground-invert: var(--palette-neutral-new-050);
  --color-foreground-on-invert: var(--palette-neutral-new-900);
  --color-foreground-accent: var(--palette-blue-210-500);
  --color-foreground-interactive-default: var(--palette-blue-210-500);
  --color-foreground-interactive-on: var(--palette-neutral-new-050);
  --color-foreground-interactive-hover: var(--palette-blue-210-700);
  --color-foreground-interactive-disabled: var(--palette-neutral-new-200);
  --color-foreground-interactive-secondary-default: var(--palette-neutral-new-300);
  --color-foreground-interactive-secondary-dn: var(--palette-neutral-new-900);
  --color-foreground-interactive-secondary-hover: var(--palette-neutral-new-400);
  --color-foreground-on-accent: var(--palette-neutral-new-050);
  --color-foreground-on-muted: var(--palette-neutral-new-050);
  --color-foreground-interactive-tertiary-default: hsla(0, 100%, 54%, 1);
  --color-foreground-interactive-tertiary-on: hsla(0, 100%, 54%, 1);
  --color-foreground-interactive-tertiary-hover: hsla(0, 100%, 54%, 1);

  /* background colors  ------------------------------------------------------------ */

  --color-background-primary: var(--palette-neutral-new-100);
  --color-background-neutral: var(--palette-neutral-new-200);
  --color-background-neutral-hover: var(--palette-neutral-new-400);
  --color-background-neutral-disabled: var(--palette-alpha-black-020);
  --color-background-secondary: var(--palette-neutral-new-200);
  --color-background-tertiary: var(--palette-alpha-black-040);
  --color-background-invert: var(--palette-alpha-black-100);
  --color-background-accent: var(--color-foreground-interactive-default);
  --color-background-canvas: var(--palette-neutral-new-050);
  --color-background-landing: hsla(170, 90%, 96%, 1);
  --color-background-be-aware: hsla(173, 65%, 56%, 1);
  --color-background-interactive-default: var(--color-foreground-interactive-default);
  --color-background-interactive-focus: var(--color-foreground-interactive-default);
  --color-background-interactive-hover: var(--palette-blue-210-600);
  --color-background-interactive-active: var(--palette-blue-210-700);
  --color-background-interactive-disabled: hsla(0, 0%, 0%, 1);
  --color-background-interactive-secondary-default: var(--palette-alpha-black-000);
  --color-background-interactive-tertiary-default: var(--palette-alpha-white-100);
  --color-background-interactive-secondary-hover: var(--palette-alpha-black-020);
  --color-background-interactive-secondary-active: hsla(0, 0%, 0%, 1);
  --color-background-interactive-secondary-disabled: hsla(0, 0%, 0%, 1);

  /* system colors: neutral  ------------------------------------------------------------ */

  --color-system-neutral-strong: var(--palette-neutral-new-600);
  --color-system-neutral-on-strong: var(--palette-neutral-new-100);
  --color-system-neutral-weak: var(--palette-neutral-new-200);
  --color-system-neutral-on-weak: var(--palette-neutral-new-700);
  --color-system-neutral-border-weak: var(--palette-neutral-new-400);

  /* system colors: critical (red) ------------------------------------------------------------ */
  --color-system-critical-strong: var(--palette-red-800);
  --color-system-critical-on-strong: var(--palette-alpha-white-100);
  --color-system-critical-strong-hover: var(--palette-red-1000);
  --color-system-critical-strong-active: var(--palette-red-1300);
  --color-system-critical-strong-disabled: var(--palette-red-100);
  --color-system-critical-weak: var(--palette-red-100);
  --color-system-critical-on-weak: var(--palette-red-1500);
  --color-system-critical-weak-border: var(--palette-red-400);

  /* system colors: info (blue)  ------------------------------------------------------------ */
  --color-system-info-strong: var(--palette-blue-210-500);
  --color-system-info-on-strong: var(--palette-neutral-050);
  --color-system-info-weak: var(--palette-blue-210-100);
  --color-system-info-on-weak: var(--palette-blue-210-900);
  --color-system-info-weak-border: var(--palette-blue-210-400);

  /* system colors: caution (yellow)  ------------------------------------------------------------ */
  --color-system-caution-strong: var(--palette-yellow-700);
  --color-system-caution-on: var(--palette-yellow-1500);
  --color-system-caution-weak: var(--palette-yellow-200);
  --color-system-caution-on-weak: var(--palette-yellow-1500);
  --color-system-caution-weak-border: var(--palette-yellow-800);

  /* system colors: warning  (orange) ------------------------------------------------------------ */
  --color-system-warning-strong: var(--palette-orange-800);
  --color-system-warning-on-strong: var(--palette-orange-1500);
  --color-system-warning-weak: var(--palette-orange-200);
  --color-system-warning-on-weak: var(--palette-orange-1500);
  --color-system-warning-weak-border: var(--palette-orange-500);

  /* system colors: success (green)  ------------------------------------------------------------ */
  --color-system-success-strong: var(--palette-green-800);
  --color-system-success-on-strong: var(--palette-green-100);
  --color-system-success-strong-hover: var(--palette-green-1000);
  --color-system-success-strong-active: var(--palette-green-1000);
  --color-system-success-weak: var(--palette-green-300);
  --color-system-success-on-weak: var(--palette-green-1300);
  --color-system-success-weak-border: var(--palette-green-800);

  /* border colors  ------------------------------------------------------------ */

  --color-border-strong: var(--palette-neutral-new-900);
  --color-border-weak: var(--palette-neutral-new-200);

  --color-border-primary: var(--palette-neutral-new-900);
  --color-border-accent: var(--palette-neutral-new-900);

  --color-border-invert: var(--color-foreground-invert);
  --color-border-interactive-default: var(--color-foreground-accent-default);
  --color-border-interactive-hover: var(--color-foreground-accent-hover);
  --color-border-interactive-disabled: var(--color-foreground-accent-disabled);
  --color-border-secondary: var(--palette-alpha-black-050);
  --color-focus-ring: var(--color-foreground-accent);
  --color-border-accent: var(--color-foreground-accent);
  --color-border-focus: var(--color-foreground-accent);
}

/*******  Menu list tokens  *******/

/*******  Switch (toggle) tokens  *******/

body.dark-theme {
  --c-switch-label: var(--color-foreground-primary);
  --c-switch-label-disabled: var(--color-foreground-disabled);
  --c-switch-description: var(--color-foreground-secondary);
  --c-switch-thumb: var(--palette-alpha-white-100);
  --c-switch-thumb-active: var(--palette-alpha-white-100);
  --c-switch-thumb-disabled: var(--palette-alpha-white-100);
  --c-switch-track: var(--palette-neutral-500);
  --c-switch-track-hover: var(--palette-neutral-700);
  --c-switch-track-disabled: var(--palette-alpha-white-030);
  --c-switch-track-active: var(--color-foreground-interactive-default);
  --c-switch-track-active-hover: var(--color-foreground-interactive-hover);
  --c-switch-track-active-disabled: var(--palette-alpha-white-030);
}

body.day-theme {
  --c-switch-label: var(--color-foreground-primary);
  --c-switch-label-disabled: var(--color-foreground-disabled);
  --c-switch-description: var(--color-foreground-secondary);
  --c-switch-thumb: var(--palette-neutral-new-050);
  --c-switch-thumb-active: var(--palette-neutral-new-050);
  --c-switch-thumb-disabled: var(--palette-neutral-new-050);
  --c-switch-track: var(--palette-neutral-new-300);
  --c-switch-track-hover: var(--palette-neutral-new-400);
  --c-switch-track-disabled: var(--color-foreground-disabled);
  --c-switch-track-active: var(--color-foreground-interactive-default);
  --c-switch-track-active-hover: var(--color-foreground-interactive-hover);
  --c-switch-track-active-disabled: var(--color-foreground-disabled);
}

/*******  Button  tokens  *******/

body.dark-theme {
  --component-button-primary-foreground: var(--color-foreground-on-accent);
  --component-button-primary-background: var(--color-background-interactive-default);
  --component-button-primary-background-hover: var(--color-background-interactive-hover);
  --component-button-primary-background-active: var(--color-background-interactive-active);
  --component-button-primary-background-disabled: var(--color-background-neutral-disabled);
  --component-button-primary-border: var(--component-button-primary-background);
  --component-button-primary-border-hover: var(--component-button-primary-background-hover);
  --component-button-secondary-foreground: var(--color-foreground-on-accent);
  --component-button-secondary-background: var(--color-background-interactive-secondary-default);
  --component-button-secondary-background-hover: var(--color-background-interactive-secondary-hover);
  --component-button-secondary-border: transparent;
  --component-button-tertiary-foreground: var(--color-foreground-primary);
  --component-button-tertiary-foreground-hover: var(--color-foreground-accent);
  --component-button-tertiary-foreground-disabled: var(--color-foreground-disabled);
  --component-button-tertiary-background: transparent;
  --component-button-tertiary-background-hover: transparent;
  --component-button-tertiary-background-focus: transparent;
  --component-button-tertiary-background-disabled: transparent;
  --component-button-tertiary-border: transparent;
  --component-button-tertiary-border-hover: transparent;
}

body.day-theme {
  --component-button-primary-foreground: var(--color-foreground-on-accent);
  --component-button-primary-background: var(--color-background-interactive-default);
  --component-button-primary-background-hover: var(--color-background-interactive-hover);
  --component-button-primary-background-active: var(--color-background-interactive-active);
  --component-button-primary-background-disabled: var(--color-background-neutral-disabled);
  --component-button-primary-border: transparent;
  --component-button-primary-border-hover: transparent;
  --component-button-secondary-foreground: var(--color-foreground-primary);
  --component-button-secondary-background: transparent;
  --component-button-secondary-background-hover: var(--palette-neutral-new-100);
  --component-button-secondary-border: var(--palette-neutral-new-300);
  --component-button-tertiary-foreground: var(--color-foreground-primary);
  --component-button-tertiary-foreground-hover: var(--component-button-tertiary-foreground);
  --component-button-tertiary-foreground-disabled: var(--color-foreground-disabled);
  --component-button-tertiary-background: transparent;
  --component-button-tertiary-background-hover: var(--palette-alpha-black-005);
  --component-button-tertiary-background-focus: transparent;
  --component-button-tertiary-background-disabled: transparent;
  --component-button-tertiary-border: transparent;
  --component-button-tertiary-border-hover: transparent;
}

/*******  Side panel tokens  *******/

body.dark-theme {
  --component-sidepanel-background: var(--color-background-primary);
  --component-sidepanel-shadow: transparent;
  --component-sidepanel-border: transparent;
}

body.day-theme {
  --component-sidepanel-background: var(--palette-neutral-new-050);
  --component-sidepanel-shadow: 0 0 24px rgba(0, 0, 0, 0.18);
  --component-sidepanel-border: var(--palette-neutral-new-200);
}

/*******  Menulist panel tokens  *******/

body.dark-theme {
  --component-menulist-background: var(--color-background-canvas);
  --component-menulist-border: var(--palette-alpha-white-010);
  --component-menulist-button-foreground: var(--color-foreground-primary);
  --component-menulist-button-background: transparent;
  --component-menulist-button-background-hover: var(--palette-alpha-white-010);
  --component-menulist-button-background-active: transparent;
  --component-menulist-button-radius: 2px;
}

body.day-theme {
  --component-menulist-background: var(--color-background-canvas);
  --component-menulist-border: var(--palette-neutral-new-300);
  --component-menulist-button-foreground: var(--color-foreground-primary);
  --component-menulist-button-background: transparent;
  --component-menulist-button-background-hover: var(--palette-neutral-new-100);
  --component-menulist-button-background-active: var(--palette-blue-210-100);
  --component-menulist-button-radius: 2px;
}

/*******  Input tokens  *******/

body.dark-theme {
  --component-input-label: var(--color-foreground-primary);
  --component-input-label-disabled: var(--color-foreground-disabled);
  --component-input-value: var(--palette-neutral-1400);
  --component-input-value-readonly: var(--color-foreground-primary);
  --component-input-value-disabled: var(--color-foreground-disabled);
  --component-input-value-error: var(--component-input-value);
  --component-input-icon: var(--palette-neutral-1400);
  --component-input-icon-readonly: var(--color-foreground-primary);
  --component-input-icon-disabled: var(--component-input-value-disabled);
  --component-input-unit: var(--palette-neutral-1400);
  --component-input-unit-readonly: var(--color-foreground-primary);
  --component-input-unit-disabled: var(--component-input-value-disabled);
  --component-input-description: var(--color-foreground-secondary);
  --component-input-description-error: var(--color-system-critical-weak);
  --component-input-description-disabled: var(--color-foreground-disabled);
  --component-input-border: var(--palette-neutral-300);
  --component-input-border-hover: var(--palette-neutral-1200);
  --component-input-border-active: var(--color-foreground-interactive-default);
  --component-input-border-error: var(--color-system-critical-default);
  --component-input-border-readonly: var(--palette-alpha-white-000);
  --component-input-border-disabled: var(--palette-alpha-white-030);
  --component-input-background: var(--palette-neutral-050);
  --component-input-background-active: var(--palette-blue-210-100);
  --component-input-background-error: var(--color-system-critical-weak);
  --component-input-background-unit: var(--palette-alpha-black-005);
  --component-input-background-readonly: var(--palette-alpha-white-000);
  --component-input-background-disabled: var(--palette-alpha-white-000);
  --component-input-radius: var(--radius-input);
}

body.day-theme {
  --component-input-label: var(--color-foreground-primary);
  --component-input-label-disabled: var(--color-foreground-disabled);
  --component-input-value: var(--color-foreground-primary);
  --component-input-value-readonly: var(--color-foreground-primary);
  --component-input-value-disabled: var(--color-foreground-disabled);
  --component-input-value-error: var(--component-input-value);
  --component-input-icon: var(--color-foreground-primary);
  --component-input-icon-readonly: var(--color-foreground-primary);
  --component-input-icon-disabled: var(--component-input-value-disabled);
  --component-input-unit: var(--color-foreground-primary);
  --component-input-unit-readonly: var(--color-foreground-primary);
  --component-input-unit-disabled: var(--component-input-value-disabled);
  --component-input-description: var(--color-foreground-secondary);
  --component-input-description-error: var(--color-system-critical-default);
  --component-input-description-disabled: var(--color-foreground-disabled);
  --component-input-border: var(--palette-neutral-new-300);
  --component-input-border-hover: var(--palette-neutral-new-600);
  --component-input-border-active: var(--color-foreground-interactive-default);
  --component-input-border-error: var(--color-system-critical-default);
  --component-input-border-readonly: var(--palette-alpha-white-000);
  --component-input-border-disabled: var(--palette-neutral-new-200);
  --component-input-background: var(--palette-neutral-new-050);
  --component-input-background-active: var(--palette-blue-205-100);
  --component-input-background-error: var(--color-system-critical-weak);
  --component-input-background-unit: var(--palette-alpha-white-000);
  --component-input-background-readonly: var(--palette-alpha-white-000);
  --component-input-background-disabled: var(--palette-neutral-new-050);
  --component-input-radius: var(--radius-input);
}

/*******  Tag tokens  *******/

body.dark-theme {
  --component-tag-border: transparent;
  --component-tag-foreground: var(--palette-neutral-1500);
  --component-tag-foreground-accent: var(--color-foreground-on-accent);
  --component-tag-foreground-critical: var(--color-system-critical-on);
  --component-tag-foreground-critical-weak: var(--color-system-critical-on-weak);
  --component-tag-foreground-alert: var(--color-system-caution-on);
  --component-tag-foreground-alert-weak: var(--color-system-caution-on-weak);
  --component-tag-foreground-warning: var(--color-system-caution-on);
  --component-tag-foreground-warning-weak: var(--color-system-warning-on-weak);
  --component-tag-foreground-success: var(--color-system-success-on);
  --component-tag-foreground-success-weak: var(--color-system-success-on-weak);
  --component-tag-foreground-info: var(--color-system-info-on);
  --component-tag-foreground-info-weak: var(--color-system-info-on-weak);

  --component-tag-background: var(--palette-neutral-new-200);
  --component-tag-background-accent: var(--color-background-accent);
  --component-tag-background-critical: var(--color-system-critical-default);
  --component-tag-background-critical-weak: var(--color-system-critical-weak);
  --component-tag-background-warning: var(--color-system-warning-default);
  --component-tag-background-warning-weak: var(--color-system-warning-weak);
  --component-tag-background-alert: var(--color-system-caution-default);
  --component-tag-background-alert-weak: var(--color-system-caution-weak);
  --component-tag-background-success: var(--color-system-success-default);
  --component-tag-background-success-weak: var(--color-system-success-weak);
  --component-tag-background-info: var(--color-system-info-default);
  --component-tag-background-info-weak: var(--color-system-info-weak);
}

body.day-theme {
  --component-tag-border: transparent;
  --component-tag-foreground: var(--color-foreground-primary);
  --component-tag-foreground-accent: var(--color-foreground-on-accent);
  --component-tag-foreground-critical: var(--color-system-critical-on);
  --component-tag-foreground-critical-weak: var(--color-system-critical-on-weak);
  --component-tag-foreground-warning: var(--color-system-warning-on);
  --component-tag-foreground-warning-weak: var(--color-system-caution-on-weak);
  --component-tag-foreground-warning: var(--color-system-caution-on);
  --component-tag-foreground-warning-weak: var(--color-system-warning-on-weak);
  --component-tag-foreground-success: var(--color-system-success-on);
  --component-tag-foreground-success-weak: var(--color-system-success-on-weak);
  --component-tag-foreground-info: var(--color-system-info-on);
  --component-tag-foreground-info-weak: var(--color-system-info-on-weak);
  --component-tag-background: var(--palette-neutral-new-200);
  --component-tag-background-accent: var(--color-background-accent);
  --component-tag-background-critical: var(--color-system-critical-default);
  --component-tag-background-critical-weak: var(--color-system-critical-weak);
  --component-tag-background-warning: var(--color-system-warning-default);
  --component-tag-background-warning-weak: var(--color-system-warning-weak);
  --component-tag-background-alert: var(--color-system-caution-default);
  --component-tag-background-alert-weak: var(--color-system-caution-weak);
  --component-tag-background-success: var(--color-system-success-default);
  --component-tag-background-success-weak: var(--color-system-success-weak);
  --component-tag-background-info: var(--color-system-info-default);
  --component-tag-background-info-weak: var(--color-system-info-weak);
}

/*******  Table tokens  *******/

body.dark-theme {
  --component-table-foreground: var(--color-foreground-primary);
  --component-table-background: var(--color-transparent);
  --component-table-background-alt: var(--palette-alpha-white-005);
  --component-table-background-hover: var(--palette-alpha-white-010);
  --component-table-background-active: var(--palette-alpha-blue-light-005);
  --component-table-border: var(--palette-alpha-white-020);

  --component-table-header-foreground: var(--color-foreground-accent);
  --component-table-header-background: var(--color-transparent);
  --component-table-header-border: var(--color-foreground-accent);

  --component-table-footer-foreground: var(--color-foreground-primary);
  --component-table-footer-background: var(--color-transparent);
  --component-table-footer-border: var(--color-foreground-primary);

  --component-table-caption-foreground: var(--color-foreground-accent);
}

body.day-theme {
  --component-table-foreground: var(--color-foreground-primary);
  --component-table-background: var(--color-transparent);
  --component-table-background-alt: var(--palette-alpha-black-002);
  --component-table-background-hover: var(--palette-alpha-black-002);
  --component-table-background-active: var(--palette-alpha-blue-light-005);
  --component-table-border: var(--palette-alpha-black-020);

  --component-table-header-foreground: var(--color-foreground-primary);
  --component-table-header-background: var(--color-transparent);
  --component-table-header-border: var(--color-foreground-primary);

  --component-table-footer-foreground: var(--color-foreground-primary);
  --component-table-footer-background: var(--color-transparent);
  --component-table-footer-border: var(--color-foreground-primary);

  --component-table-caption-foreground: var(--color-foreground-primary);
}

/*******  Tabs tokens  *******/

body.dark-theme {
  --component-tabs-foreground: var(--color-foreground-primary);
  --component-tabs-foreground-hover: var(--color-foreground-interactive-hover);
  --component-tabs-foreground-disabled: var(--color-foreground-disabled);
  --component-tabs-foreground-active: var(--color-foreground-accent);
  --component-tabs-background: var(--color-transparent);
  --component-tabs-background-hover: var(--color-transparent);
  --component-tabs-background-disabled: var(--color-transparent);
  --component-tabs-background-active: var(--color-transparent);
  --component-tabs-border: currentColor;
  --component-tabs-border-hover: var(--color-transparent);
  --component-tabs-border-active: currentColor;
  --component-tabs-border-disabled: var(--component-tabs-border);
}

body.day-theme {
  --component-tabs-foreground: var(--color-foreground-primary);
  --component-tabs-foreground-hover: var(--color-foreground-interactive-hover);
  --component-tabs-foreground-disabled: var(--color-foreground-disabled);
  --component-tabs-foreground-active: var(--color-foreground-accent);
  --component-tabs-background: var(--color-transparent);
  --component-tabs-background-hover: var(--color-transparent);
  --component-tabs-background-disabled: var(--color-transparent);
  --component-tabs-background-active: var(--color-transparent);
  --component-tabs-border: currentColor;
  --component-tabs-border-hover: var(--color-transparent);
  --component-tabs-border-active: currentColor;
  --component-tabs-border-disabled: var(--component-tabs-border);
}

/* Context menu */
body.dark-theme {
  --color-component-context-menu-border: var(--color-border-weak);
  --color-component-context-menu-background: var(--color-background-canvas);
}

body.day-theme {
  --color-component-context-menu-border: var(--color-border-weak);
  --color-component-context-menu-background: var(--color-background-canvas);
}
