.select {
  display: flex;
  flex-direction: column;
  gap: var(--size-100);
  font-size: var(--type-200);

  .label {
    color: var(--component-input-label);
  }

  .description {
    color: var(--component-input-description);
    font-style: italic;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--size-100);
  }

  select {
    appearance: none;
    background-color: transparent;
    color: inherit;
    border: none;
    flex-grow: 1;
    width: 100%;
  }

  optgroup {
    font-weight: normal;
    text-transform: uppercase;
    font-size: var(--type-200);
  }

  option {
    font-weight: normal;
    padding-left: var(--size-100);
    text-transform: none;
    font-size: var(--type-300);
    color: var(--component-input-foreground);
    background-color: var(--component-input-background);
  }
}

.field {
  display: flex;
  height: var(--height-medium);
  color: var(--component-input-value);
  background-color: var(--component-input-background);
  border: 1px solid var(--component-input-border);
  border-radius: var(--radius-input);
  font-size: var(--type-300);
  padding-inline: 0.5em;

  &:focus-within {
    outline: 2px solid var(--color-focus-ring);
    outline-offset: 2px;

    select {
      outline: none;
      box-shadow: none;
    }
  }

  &:hover {
    border-color: var(--component-input-border-hover);
  }

  &:has(input:active) {
    border-color: var(--component-input-border-active);
  }

  svg {
    width: 1.25em;
  }
}

.select {
  &.x-small {
    font-size: var(--type-150);

    .wrapper .field {
      height: var(--height-x-small);
      font-size: var(--type-150);
    }
  }

  &.small {
    font-size: var(--type-200);

    .wrapper .field {
      height: var(--height-small);
      font-size: var(--type-200);
    }
  }

  &.large {
    font-size: var(--type-300);

    .field {
      height: var(--height-large);
      font-size: var(--type-400);
    }
  }

  &.x-large {
    font-size: var(--type-400);

    .field {
      height: var(--height-x-large);
      font-size: var(--type-500);
    }
  }
}
