.select {
  display: flex;
  flex-direction: column;
  gap: var(--size-100);

  .label {
    font: var(--type-label-medium);
    color: var(--color-foreground-primary);
  }

  .description {
    font: var(--type-description-medium);
    color: var(--color-foreground-primary);
  }

  .wrapper {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    height: var(--height-medium);

    font-size: var(--type-400);
    line-height: 1;

    border: 1px solid var(--color-component-input-border);
    border-radius: var(--radius-input);
    background-color: var(--color-component-input-bg);

    &:hover {
      border-color: var(--c-input-border-hover);
    }

    select {
      appearance: none;
      background-color: transparent;
      border: none;
      color: var(--c-input-value);
      flex-grow: 1;
      padding-inline: var(--size-100);
    }

    &:focus-within {
      outline: 2px solid var(--color-focus-ring);
      outline-offset: 2px;

      select {
        outline: none;
        box-shadow: none;
      }
    }

    &:has(select:disabled) {
      border-color: var(--c-input-border-disabled);
      background-color: var(--c-input-bg-disabled);
      color: var(--color-component-input-value-disabled);
    }

    svg {
      width: 1.5rem;
    }
  }

  &.small {
    .label {
      font: var(--type-label-small);
    }

    .description {
      font: var(--type-description-small);
    }
    .wrapper {
      font-size: var(--type-200);
      height: var(--height-small);

      svg {
        width: 1rem;
      }
    }
  }

  &.large .label {
    font: var(--type-label-large);
  }

  .description {
    font: var(--type-description-large);
  }

  .wrapper {
    font-size: var(--type-500);
    height: var(--height-large);

    svg {
      width: 1.75rem;
    }
  }
}
