.radio {
  display: flex;

  input {
    appearance: none;
  }

  label {
    position: relative;
    padding: var(--size-200);
    padding-left: var(--size-400);
    cursor: pointer;
    line-height: 1;
    display: inline-block;
    color: var(--color-primary);

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: var(--size-175);
      width: var(--size-250);
      height: var(--size-250);
      border: 2px solid var(--color-primary);
      border-radius: var(--radius-full);
    }
  }

  input:checked + label:before {
    border-color: var(--color-accent);
    border-color: var(--color-interactive);
  }

  input:checked + label:after {
    content: "";
    position: absolute;
    left: 4px;
    top: 18px;
    width: var(--size-150);
    height: var(--size-150);
    border-radius: var(--radius-full);
    background-color: var(--color-interactive);
  }

  label:hover:before {
    border-color: var(--color-interactive-hover);
  }

  .radio:has(input:focus-visible) {
    outline: 2px solid var(--color-focus-ring);
    outline-offset: 4px;
  }

  input:focus {
    outline: none;
  }

  .radio:has(input:disabled) {
    label {
      color: var(--color-disabled);

      cursor: not-allowed;
      &:before {
        border-color: var(--color-disabled);
      }
      &:after {
        background-color: var(--color-disabled);
      }
    }
  }
}
