.radio {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--height-medium);
  font-size: var(--type-400);

  input {
    appearance: none;
    &:focus {
      outline: none;
    }
  }

  &.small {
    font-size: var(--type-300);
    height: var(--height-small);
  }

  &.large {
    font-size: var(--type-450);
    height: var(--height-large);
  }

  &.x-large {
    font-size: var(--type-500);
    height: var(--height-x-large);
  }

  &:has(input:focus-visible) {
    outline: 2px solid var(--color-border-focus);
    outline-offset: 2px;
  }

  label {
    position: relative;
    padding-left: 2em;
    cursor: pointer;
    line-height: 1.3em;
    min-width: 1.25em;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 1.25em;
      height: 1.25em;
      border: 1px solid var(--color-foreground-primary);
      border-radius: var(--radius-full);
    }
  }

  input:checked + label:before {
    border-color: var(--color-foreground-accent);
    border-color: var(--color-foreground-interactive-default);
  }

  input:checked + label:after {
    content: "";
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--radius-full);
    background-color: var(--color-foreground-interactive-default);
  }

  label:hover {
    &:before {
      border-color: var(--color-foreground-interactive-hover);
    }
  }

  input:disabled + label {
    cursor: not-allowed;
    color: var(--color-foreground-disabled);
    &:before {
      border-color: var(--color-foreground-disabled);
    }
  }
  input:disabled:checked + label {
    &:after {
      background-color: var(--color-foreground-disabled);
    }
  }
}
