.input_item {
  display: flex;
}

input {
  appearance: none;
}

fieldset {
  border: none;
}

caption {
  font-size: var(--type-label);
}

label {
  position: relative;
  padding: var(--size-200);
  padding-left: var(--size-400);
  cursor: pointer;
  line-height: 1;
  display: inline-block;
  color: var(--color-text);

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: var(--size-175);
    width: var(--size-250);
    height: var(--size-250);
    border: 2px solid var(--color-text);
    border-radius: var(--radius-full);
  }
}

input:checked + label:before {
  border-color: var(--color-text-accent);
}

input:checked + label:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 18px;
  width: var(--size-150);
  height: var(--size-150);
  border-radius: var(--radius-full);
  background-color: var(--color-text-accent);
}

.input_item:focus-within {
  outline: 2px solid var(--color-focus-ring);
  outline-offset: 4px;
}

input:focus {
  outline: none;
}
