.divider {
  --divider-thick: 4px;
  --divider-thin: 1px;

  border: 1px solid transparent;
  margin: 0;

  &.primary {
    background-color: var(--c-divider-primary);
  }

  &.secondary {
    background-color: var(--c-divider-secondary);
  }

  &.horizontal {
    margin: var(--size-100) 0;
    height: var(--divider-thick);
    width: 100%;

    &.thin {
      height: var(--divider-thin);
    }
  }

  &.vertical {
    margin: 0 var(--size-100);
    width: var(--divider-thick);
    min-height: 1rem;

    &.thin {
      width: var(--divider-thin);
    }
  }
}
