.divider {
  --divider-thick: 4px;
  --divider-thin: 1px;

  margin: 0;
  border: none;

  &.primary {
    background-color: var(--color-border-strong);
  }

  &.secondary {
    background-color: var(--color-border-weak);
  }

  &.horizontal {
    margin: var(--size-100) 0;
    height: var(--divider-thick);
    width: 100%;

    &.thin {
      height: var(--divider-thin);
    }
  }

  &.vertical {
    margin: 0 var(--size-100);
    width: var(--divider-thick);
    min-height: 1rem;

    &.thin {
      width: var(--divider-thin);
    }
  }
}
