.appbar {
  display: grid;

  grid-template-columns: 1fr max-content 1fr;
  gap: var(--size-200);

  align-items: center;
  height: var(--size-600);
  padding-inline: var(--size-200);
  color: var(--color-component-app-header-foreground);
  background-color: var(--color-component-app-header-background);

  & > * {
    display: flex;
    align-items: center;
    gap: var(--size-100);
  }

  & > :last-child {
    justify-content: end;
  }
}

.nav {
  display: flex;
  gap: var(--size-200);

  a {
  }

  a:hover {
    color: var(--color-foreground-interactive-hover);
  }

  a:active {
    color: var(--color-foreground-interactive-active);
  }
}

.apptitle {
  .logo {
    height: var(--size-200);
    width: auto;
  }

  .title {
    font-size: var(--type-400);
  }
}

.controls {
}
