.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--height-medium);
  font-size: var(--type-400);

  input {
    appearance: none;
    &:focus {
      outline: none;
    }
  }
  &.small {
    font-size: var(--type-300);
    height: var(--height-small);
  }

  &.large {
    font-size: var(--type-450);
    height: var(--height-large);
  }

  &.x-large {
    font-size: var(--type-500);
    height: var(--height-x-large);
  }

  &:has(input:focus-visible) {
    outline: 2px solid var(--color-focus-ring);
    outline-offset: 2px;
  }

  label {
    position: relative;
    padding-left: 2em;
    cursor: pointer;
    line-height: 1.3em;
    min-width: 1.25em;
    color: var(--component-checkbox-label);

    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 1.25em;
      height: 1.25em;
      border: 1.5px solid currentColor;
      border-radius: var(--radius-small);
    }

    &:hover {
      &:before {
        border-color: var(--color-foreground-interactive-hover);
      }
    }

    &:empty {
      padding: 0;
      width: 10px;
      height: 1.125em;
    }
  }

  input:checked + label {
    &:before {
      border: none;
      background-color: var(--color-background-interactive-default);
    }

    &:after {
      content: "";
      position: absolute;
      left: 0.33em;
      top: 0.33em;
      width: 0.66em;
      height: 0.4em;
      border-left: 0.125em solid var(--color-foreground-interactive-on);
      border-bottom: 0.125em solid var(--color-foreground-interactive-on);
      rotate: -50deg;
    }

    &:hover {
      &:before {
        background-color: var(--color-background-interactive-hover);
      }
    }
  }

  .description {
    padding-left: var(--size-400);
    font: var(--type-description-medium);
    color: var(--color-foreground-primary);
  }
}
