.checkbox {
  font-size: var(--type-175);

  &.small {
    font-size: var(--type-150);
  }
  &.large {
    font-size: var(--type-200);
  }

  &:has(input:focus-visible) {
    outline: 2px solid var(--color-focus-ring);
    outline-offset: 2px;
  }

  input {
    appearance: none;
    &:focus {
      outline: none;
    }
  }

  label {
    position: relative;
    padding: var(--size-100);
    padding-left: var(--size-400);
    cursor: pointer;
    line-height: 1.125;
    display: inline-block;

    color: var(--color-foreground-primary);

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: var(--size-075);
      width: var(--size-250);
      height: var(--size-250);
      border: 1.5px solid var(--color-foreground-primary);
      border-radius: var(--radius-small);
    }

    &:hover {
      &:before {
        border-color: var(--color-foreground-interactive-hover);
      }
    }
  }

  input:checked + label {
    &:before {
      border-color: var(--color-foreground-accent);
      background-color: var(--color-foreground-interactive-default);
    }

    &:after {
      content: "";
      position: absolute;
      left: var(--size-050);
      top: 0.7rem;
      width: 0.7rem;
      height: 0.4rem;
      border-left: 2px solid var(--color-foreground-interactive-on);
      border-bottom: 2px solid var(--color-foreground-interactive-on);
      rotate: -40deg;
    }

    &:hover {
      &:before {
        border-color: var(--color-foreground-interactive-hover);
        background-color: var(--color-background-interactive-hover);
      }
    }
  }

  .description {
    padding-left: var(--size-400);
    font: var(--type-description-medium);
    color: var(--color-foreground-secondary-default);
  }
}
