.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--height-medium);
  line-height: 2;
  font-size: var(--type-400);
  gap: 0.75em;

  label {
    text-box: trim-both cap alphabetic;
  }

  input {
    accent-color: var(--color-foreground-accent);
    background-color: Canvas;
    transform: scale(1.25);
  }

  &.x-small {
    font-size: var(--type-300);
    height: var(--height-small);

    input {
      accent-color: var(--color-foreground-accent);
      transform: scale(0.9);
    }
  }

  &.small {
    font-size: var(--type-300);
    height: var(--height-small);

    input {
      accent-color: var(--color-foreground-accent);
      transform: scale(1);
    }
  }

  &.large {
    font-size: var(--type-450);
    height: var(--height-large);
    input {
      accent-color: var(--color-foreground-accent);
      transform: scale(1.33);
    }
  }

  &.x-large {
    font-size: var(--type-500);
    height: var(--height-x-large);
    input {
      accent-color: var(--color-foreground-accent);
      transform: scale(1.5);
    }
  }
}

.description {
  padding-left: var(--size-400);
  font: var(--type-description-medium);
  color: var(--color-foreground-primary);
}
