.menuList {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-100);
  padding: var(--size-100);

  .menuListItem {
    width: 100%;
    box-sizing: border-box;

    + .menuListGroupHeader {
      margin-top: var(--size-200);
    }
  }

  .menuListGroupHeader {
    font-size: var(--type-400);
  }

  .menuListSubList {
    display: block;
    list-style-type: none;
    min-width: 0;
    box-sizing: border-box;
    padding: 0;
    padding-left: var(--size-350);
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: var(--size-150);
      top: 0;
      bottom: 0;
      width: 2px;
      border-radius: 1px;
      z-index: 0;
    }

    & > * {
      position: relative;
      z-index: 1;
    }
  }

  .menuListButton {
    display: flex;
    color: var(--color-foreground-primary);
    background-color: transparent;
    height: var(--size-400);
    padding: 0px var(--size-100);
    align-items: center;
    gap: var(--size-100);
    align-self: stretch;
    cursor: pointer;
    width: 100%;
    justify-content: flex-start;
    border-radius: var(--radius-small);

    &:hover {
      background-color: var(--color-background-interactive-new-hover);
    }

    &.menuListButtonSelected {
      background-color: var(--color-background-interactive-new-selected);
    }

    .menuListLabel {
      flex: 1;
      text-align: left;
    }
  }
}
