.segmented_group {
  display: flex;
  gap: 1px;

  input {
    appearance: none;
  }
}

.segmented_item {
  flex: 1 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-inline: var(--size-200);
  height: var(--height-medium);
  color: var(--color-foreground-interactive-secondary-on);
  background-color: var(--color-background-interactive-secondary-default);

  font: var(--type-action-label-medium);
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    background-color: var(--color-background-interactive-secondary-hover);
  }

  &:first-of-type {
    border-radius: var(--radius-default) 0 0 var(--radius-default);
  }
  &:last-of-type {
    border-radius: 0 var(--radius-default) var(--radius-default) 0;
  }

  &:has(input:checked) {
    background-color: var(--color-background-interactive-default);
    color: var(--color-foreground-interactive-on);

    &:hover {
      cursor: default;
    }
  }
}
