.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: var(--type-300);

  th {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--component-table-header-foreground);
  }

  thead th {
    background-color: var(--component-table-header-background);
    border-bottom: 1px solid var(--component-table-header-border);
  }

  td,
  th {
    height: var(--height-medium);
    padding: 0 var(--size-300) 0 var(--size-050);
    color: var(--component-table-foreground);
    border-bottom: 1px solid var(--component-table-border);
    background-color: var(--component-table-background);

    &.num {
      text-align: right;
    }
  }

  tr {
    height: var(--height-medium);
  }

  tr.alt:nth-child(even) td {
    background-color: var(--component-table-background-alt);
  }

  tr.active td {
    background-color: var(--component-table-background-active);
  }

  tr:hover td {
    background-color: var(--component-table-background-hover);
  }
}

.table {
  &.small {
    font-size: var(--type-200);

    tr,
    th,
    td {
      height: var(--height-small);
    }
  }
  &.large {
    th,
    td {
      height: var(--height-large);
    }
  }

  &.x-large {
    font-size: var(--type-350);
    th,
    td {
      height: var(--height-x-large);
    }
  }
}
