.table {
  --small: var(--size-400);
  --medium: var(--size-500);
  --large: var(--size-600);

  --padding: var(--size-200);
}

.table {
  width: 100%;
  color: var(--color-foreground-primary);
  border-collapse: collapse;

  th {
    font-size: var(--type-200);
    text-transform: uppercase;
    color: var(--color-component-table-header-text);
    background-color: var(--color-component-table-bg-head);
    padding-inline: var(--padding);
    text-align: left;
    border-block: 1px solid var(--color-component-table-border-cell);
  }

  td {
    border-bottom: 1px solid var(--color-component-table-border-cell);
    background-color: var(--color-component-table-bg-default);
    padding-inline: var(--padding);
    font-size: var(--type-300);
    height: var(--size-medium);
  }

  tr:nth-child(even) td {
    background-color: var(--color-component-table-bg-alt);
  }

  tr {
    height: var(--medium);
  }

  &.large {
    tr {
      height: var(--large);
    }
  }

  &.small {
    tr {
      height: var(--small);
    }
  }
}
