.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: var(--height-medium);
  height: var(--height-medium);
  background-color: var(--color-surface-secondary);
  color: var(--color-foreground-on-accent, #fff);
  text-align: center;
  font-family: var(--Family-Primary, Lato);
  font-size: var(--Size-300, 24px);
  font-style: normal;
  font-weight: var(--Weight-Regular, 400);
  line-height: 100%;

  &.small {
    width: var(--height-small);
    height: var(--height-small);
    font-size: var(--type-button-label-small);
  }

  &.medium {
    width: var(--height-medium);
    height: var(--height-medium);
    font-size: var(--type-button-label);
  }

  &.large {
    width: var(--height-large);
    height: var(--height-large);
    font-size: var(--type-button-label-large);
  }

  &.x-large {
    width: var(--height-x-large);
    height: var(--height-x-large);
    font-size: calc(var(--type-button-label-large) * 1.2);
  }

  &.circle {
    border-radius: 50%;
  }

  &.square {
    border-radius: var(--radius-default);
  }
}

.image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.initials {
  text-transform: uppercase;
  user-select: none;
}
