.avatar {
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  overflow: hidden;
  background-color: var(--color-background-accent);
  color: var(--color-foreground-on-accent);

  &.small {
    width: var(--height-small);
    font-size: var(--type-200);
  }

  &.medium {
    width: var(--height-medium);
    font-size: var(--type-300);
  }

  &.large {
    width: var(--height-large);
    font-size: var(--type-400);
  }

  &.x-large {
    width: var(--height-x-large);
    font-size: var(--type-500);
  }

  &.circle {
    border-radius: 100%;
  }

  &.square {
    border-radius: var(--radius-small);
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .initials {
    text-transform: uppercase;
    text-box: trim-both cap alphabetic;
  }
}
