.iconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--height-medium);
  aspect-ratio: 1 / 1;
  padding: 0;
  border-radius: var(--radius-default);
  border: 1px solid transparent;
  color: var(--color-component-button-primary-foreground);
  background-color: var(--color-component-button-primary-background);

  &:hover {
    background-color: var(--color-component-button-primary-background-hover);
    cursor: pointer;
  }

  &:active {
    background-color: var(--color-component-button-primary-background-active);
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--color-component-button-primary-background-disabled);
    color: var(--color-component-button-primary-foreground-disabled);
    cursor: not-allowed;
  }

  &.small {
    height: var(--height-small);
  }

  &.large {
    height: var(--height-large);
  }
  &.x-large {
    height: var(--height-x-large);
  }

  &.secondary {
    color: var(--color-component-button-secondary-foreground);
    background-color: var(--color-component-button-secondary-background);
    border-color: var(--color-component-button-secondary-border);

    &:hover {
      background-color: var(--color-component-button-secondary-background-hover);
      cursor: pointer;
    }
    &:active {
      background-color: var(--color-component-button-secondary-background-active);
      cursor: pointer;
    }
  }

  &.tertiary {
    color: var(--color-component-button-tertiary-foreground);
    background-color: var(--color-component-button-tertiary-background);

    &:hover {
      color: var(--color-component-button-tertiary-foreground-hover);
      background-color: var(--color-component-button-tertiary-background-hover);
      border-color: var(--color-component-button-secondary-background-hover);
    }

    &:active {
      color: var(--color-component-button-tertiary-foreground-active);
      background-color: var(--color-component-button-tertiary-background-active);
    }

    &:disabled {
      background-color: var(--color-component-button-tertiary-background-disabled);
      color: var(--color-component-button-tertiary-foreground-disabled);
    }
  }

  &.destructive {
    background-color: var(--color-system-critical-strong);

    &:hover {
      background-color: var(--color-system-critical-hover);
    }

    &:active {
      background-color: var(--color-system-critical-hover);
    }

    &:disabled {
      background-color: var(--color-system-critical-disabled);
      color: var(--color-foreground-disabled);
    }
  }
}
