.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--height-medium);
  aspect-ratio: 1 / 1;
  padding: 0;
  border-radius: var(--radius-default);
  border: none;
  color: var(--color-on-interactive);
  background-color: var(--color-surface-interactive);

  &:hover {
    background-color: var(--color-surface-interactive-hover);
    cursor: pointer;
  }

  &:hover {
    background-color: var(--color-surface-interactive-hover);
    cursor: pointer;
  }
  &:active {
    background-color: var(--color-surface-interactive-pressed);
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--p-alpha-blue-ocean-15);
    color: var(--color-disabled);
    cursor: not-allowed;
  }

  svg {
    color: inherit;
    height: 60%;
    width: 60%;
  }
}

.small {
  height: var(--height-small);
}

.large {
  height: var(--height-large);
}

.secondary {
  background-color: var(--color-surface-interactive-secondary);

  &:hover {
    background-color: var(--color-surface-interactive-secondary-hover);
    cursor: pointer;
  }
  &:active {
    background-color: var(--color-surface-interactive-secondary-pressed);
    cursor: pointer;
  }
}

.tertiary {
  color: var(--color-accent);
  background-color: transparent;

  &:hover {
    background-color: var(--p-alpha-blue-ocean-15);
  }

  &:active {
    background-color: var(--p-alpha-blue-ocean-25);
  }

  &:disabled {
    background-color: transparent;
  }
}

.destructive {
  background-color: var(--color-alert-danger);

  &:hover {
    background-color: var(--color-alert-danger-hover);
  }

  &:active {
    background-color: var(--color-alert-danger-pressed);
  }

  &:disabled {
    background-color: var(--color-alert-danger-disabled);
  }
}
