.accordion_list {
  display: flex;
  flex-direction: column;
}

.accordion {
  display: block;
  width: 100%;
  color: var(--color-foreground-primary);
  line-height: 1.5;
  border-top: 1px solid var(--color-border-weak);

  max-height: 4rem;
  overflow: hidden;
  transition: max-height 400ms ease-out;

  &:open .header svg {
    rotate: 90deg;
    transition: rotate 150ms;
  }

  &[open] {
    max-height: 1000px;
  }

  &:hover {
    border-color: var(--color-system-info-default);
    transition: border-color 300ms;
  }
}

.accordion::details-content {
  opacity: 0;
  transition:
    opacity 200ms ease-in-out,
    content-visibility 150ms ease-in-out allow-discrete;
  content-visibility: hidden;
}

.accordion[open]::details-content {
  opacity: 1;
  content-visibility: visible;
}

.header {
  display: flex;
  align-items: center;

  height: var(--height-large);
  padding-left: var(--space-50);
  line-height: 1;

  gap: var(--space-50);

  &:hover {
    background-color: var(--color-system-info-weak);
    cursor: pointer;
    transition: background-color 300ms;
  }
}

.content {
  padding: var(--size-200);
}

&.large {
  summary {
    height: var(--height-large);
    font-size: var(--type-400);
  }
}
&.small {
  summary {
    height: var(--height-small);
    font-size: var(--type-200);
  }
}

/* Hides marker on Chrome and Safari */

summary {
  outline: none;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}
