.accordion_list {
  display: flex;
  flex-direction: column;
}

.accordion {
  display: block;
  width: 100%;
  color: var(--color-primary);
  line-height: 1.5;

  + * {
    border-top: none;
  }

  summary {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--color-surface-interactive);
    height: var(--height-medium);
    padding-left: var(--space-50);
    font-size: var(--type-300);
    line-height: 1;
    color: var(--color-on-interactive);
    list-style: none;
    gap: var(--space-50);

    &:hover {
      background-color: var(--color-surface-interactive-hover);
    }

    &::-webkit-details-marker {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }

    svg {
      width: var(--size-300);
      height: auto;
      transition: transform 0.2s ease-out;
      fill: var(--color-on-interactive);
    }
  }

  .content {
    padding: var(--size-200) 0 var(--size-100);
  }

  &[open] > summary > svg {
    transform: rotate(90deg);
    
  }

  &.large {
    summary {
      height: var(--height-large);
      font-size: var(--type-400);
    }
  }
  &.small {
    summary {
      height: var(--height-small);
      font-size: var(--type-200);
    }
  }
}
